header.header
	.container
		.row
			.col-12.header__col

				.logo.header__logo
					a.logo__link(href="#")
						img.logo__img(src="img/logo.svg" alt="logo")
						.logo__title MultiOil

				nav.menu
					ul.menu__list
						li.menu__item
							a.menu__link(href="#") Новости
						li.menu__item
							a.menu__link(href="#") Контакты
						li.menu__item
							a.menu__link(href="javascript:;" data-fancybox data-src="#partner-popup") Стать партнером

					.language.menu__language
						.language__current RU
						ul.language__list
							li.language__item
								a.language__link(href="#") UA

				.toggle.menu-toggle
					.toggle__1
					.toggle__2
					.toggle__3
