// build:js js/all.min.js 
script(src='js/jquery.min.js')
script(src='js/SmoothScroll.js')
script(src='js/jquery.mask.min.js')
script(src='js/swiper.min.js')
script(src='js/validator.min.js')
script(src='js/jquery.fancybox.min.js')
script(src='js/common.js')
// endbuild 