doctype html
html(lang="ru")
	head
		// Meta 
		- var pageTitle = 'FAQ Page';
		include ./includes/_meta.pug

		// CSS 
		include ./includes/_css.pug
	
	body
		// Preloader 
		include ./includes/_preloader.pug
		
		// Header 
		include ./includes/_header.pug

		// FAQ Article 
		article.faq-article
			.container
				.row
					.col-12
						h1.faq-article__title F.A.Q.
						h2.faq-article__descr Часто задаваемые вопросы

						.faq-block.on
							.faq-block__toggle
								h3.faq-block__title Умови використання мобільного додатку MULTIOIL
								
							.faq-block__hidden.visible
								.faq-block__descr
									p Ця Угода Користувача, разом з Політикою конфіденційності, регламентує відносини між ТОВАРИСТВОМ З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ «МУЛЬТИ ОІЛ», яке має адресу місцезнаходження: 04053, місто Київ, вулиця Січових стрільців, будинок 21, приміщення 501-Б, Код в ЄДР 43710549, (далі — «Правовласник», «Розробник»), та особою, яка використовує мобільний додаток «MULTIOIL» (далі — «Користувач» та «Додаток» відповідно), Правовласник та Користувачі іменуються надалі – «Сторони».

						.faq-block
							.faq-block__toggle
								h3.faq-block__title ФУНКЦІОНАЛЬНІ МОЖЛИВОСТІ ДОДАТКУ
								
							.faq-block__hidden.hidden
								.faq-block__descr
									p Ця Угода Користувача, разом з Політикою конфіденційності, регламентує відносини між ТОВАРИСТВОМ З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ «МУЛЬТИ ОІЛ», яке має адресу місцезнаходження: 04053, місто Київ, вулиця Січових стрільців, будинок 21, приміщення 501-Б, Код в ЄДР 43710549, (далі — «Правовласник», «Розробник»), та особою, яка використовує мобільний додаток «MULTIOIL» (далі — «Користувач» та «Додаток» відповідно), Правовласник та Користувачі іменуються надалі – «Сторони».

						.faq-block
							.faq-block__toggle
								h3.faq-block__title ФУНКЦІОНАЛЬНІ МОЖЛИВОСТІ ДОДАТКУ
								
							.faq-block__hidden.hidden
								.faq-block__descr
									p Ця Угода Користувача, разом з Політикою конфіденційності, регламентує відносини між ТОВАРИСТВОМ З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ «МУЛЬТИ ОІЛ», яке має адресу місцезнаходження: 04053, місто Київ, вулиця Січових стрільців, будинок 21, приміщення 501-Б, Код в ЄДР 43710549, (далі — «Правовласник», «Розробник»), та особою, яка використовує мобільний додаток «MULTIOIL» (далі — «Користувач» та «Додаток» відповідно), Правовласник та Користувачі іменуються надалі – «Сторони».

						.faq-block
							.faq-block__toggle
								h3.faq-block__title ФУНКЦІОНАЛЬНІ МОЖЛИВОСТІ ДОДАТКУ
								
							.faq-block__hidden.hidden
								.faq-block__descr
									p Ця Угода Користувача, разом з Політикою конфіденційності, регламентує відносини між ТОВАРИСТВОМ З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ «МУЛЬТИ ОІЛ», яке має адресу місцезнаходження: 04053, місто Київ, вулиця Січових стрільців, будинок 21, приміщення 501-Б, Код в ЄДР 43710549, (далі — «Правовласник», «Розробник»), та особою, яка використовує мобільний додаток «MULTIOIL» (далі — «Користувач» та «Додаток» відповідно), Правовласник та Користувачі іменуються надалі – «Сторони».

						.faq-block
							.faq-block__toggle
								h3.faq-block__title ФУНКЦІОНАЛЬНІ МОЖЛИВОСТІ ДОДАТКУ
								
							.faq-block__hidden.hidden
								.faq-block__descr
									p Ця Угода Користувача, разом з Політикою конфіденційності, регламентує відносини між ТОВАРИСТВОМ З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ «МУЛЬТИ ОІЛ», яке має адресу місцезнаходження: 04053, місто Київ, вулиця Січових стрільців, будинок 21, приміщення 501-Б, Код в ЄДР 43710549, (далі — «Правовласник», «Розробник»), та особою, яка використовує мобільний додаток «MULTIOIL» (далі — «Користувач» та «Додаток» відповідно), Правовласник та Користувачі іменуються надалі – «Сторони».

		

		// Footer 
		include ./includes/_footer.pug

		// Popup 
		include ./includes/_popup.pug
		
		// JS 
		include ./includes/_js.pug