doctype html
html(lang="ru")
	head
		// Meta 
		- var pageTitle = 'Privacy Policy Page';
		include ./includes/_meta.pug

		// CSS 
		include ./includes/_css.pug
	
	body
		// Preloader 
		include ./includes/_preloader.pug
		
		// Header 
		include ./includes/_header.pug

		// Terms Article 
		article.terms-article
			.container
				.row
					.col-lg-11.offset-lg-1
						h1.terms-article__title Політика конфіденційності при використанні мобільного додатку MULTIOIL
						
						.terms-article__descr
							p Чинна політика регламентує порядок збору та обробки персональних та інших конфіденційних даних користувачів мобільного додатку MULTIOIL.

						.terms-article__text
							h2 ЗАГАЛЬНІ ПОЛОЖЕННЯ
							p 1. У межах чинної політики використовуються такі терміни:
							p 1.1. Персональні дані - будь-яка інформація, що стосується прямо або опосередковано певної або визначеної фізичної особи (суб'єкту персональних даних).
							p 1.2. Мобільний додаток - програма розроблена для мобільних пристроїв, користування якою здійснюється відповідно до Умов використання мобільного додатку MULTIOIL.
							p 1.3. Правовласник - особа, якій належить право на використання і розповсюдження мобільного додатку, і яка здійснює відпрацювання персональних даних Користувачів.
							p 1.4. Користувач - особа, яка здійснює використання мобільного додатку на умовах простої (не виключною) ліцензії та надає Правовласнику свої персональні дані.
							p 1.5. Обробка персональних даних - будь-яка дія (операція) або сукупність дій (операцій), що здійснюються з використанням засобів автоматизації або без використання таких засобів, з персональними даними, включаючи збір, запис, систематизацію, накопичення, зберігання, уточнення (оновлення, зміну), отримання, використання, передачу (поширення, надання, доступ), знеособлення, блокування, видалення, знищення персональних даних.
							p 1.6. Автоматизована обробка персональних даних - обробка персональних даних за допомогою засобів обчислювальної техніки.
							p 1.7. Надання персональних даних - дії, спрямовані на розкриття персональних даних певній особі або певному колу осіб.
							p 1.8. Блокування персональних даних - тимчасове припинення обробки персональних даних (за винятком випадків, якщо обробка необхідна для уточнення персональних даних).
							p 1.9. Знищення персональних даних - дії, в результаті яких стає неможливим відновити зміст персональних даних у інформаційній системі персональних даних і (або) в результаті яких знищуються матеріальні носії персональних даних.
							p 1.10. Інформаційна система персональних даних – сукупність персональних даних, що містяться у базах даних, та інформаційних технологій і технічних засобів, що забезпечують їх обробку .
							p 1.11. Файли cookie - фрагменти даних, які відправлені сайтом і зберігається на комп'ютері, мобільному телефоні або іншому пристрої, з якого Користувач відвідує сайт, що застосовуються для збереження даних про дії Користувача на сайті.
							p 2. Встановлення Користувачем на свій пристрій мобільного додатку або використання мобільного додатку будь-яким іншим способом, а також реєстрація в додатку означає згоду Користувача з умовами цієї політики, у тому числі згоду Користувача на обробку Правовласником його персональних даних, у випадках, коли положеннями чинного законодавства потрібна така згода.
							br
							br
							h2 ПЕРСОНАЛЬНІ  ДАНІ
							p 3. У процесі обробки персональних даних Користувач має право:
							p 3.1. На отримання інформації, що стосується обробки його персональних даних, у тому числі тієї, що містить:
							p 3.1.1. Підтвердження факту обробки персональних даних;
							p 3.1.2. Правові підстави і мету обробки персональних даних;
							p 3.1.3. Мету і способи обробки персональних даних, що застосовуються;
							p 3.1.4. Відомості про найменування та місцезнаходження особи, яка здійснює обробку персональних даних, відомості про осіб (за винятком працівників Правовласника), які мають доступ до персональних даних або яким можуть бути розкриті персональні дані на підставі договору з Правовласником або на підставі чинного законодавства;
							p 3.1.5. Персональні дані, що обробляються, які стосуються відповідного суб'єкта персональних даних, джерело їх отримання, якщо інший порядок представлення таких даних не передбачено чинним законодавством;
							p 3.1.6. Терміни обробки персональних даних, у тому числі терміни їх зберігання;
							p 3.1.7. Порядок здійснення Користувачем прав, передбачених чинним законодавством;
							p 3.1.8. Інформацію щодо транскордонної передачі даних, яка здійснилася або передбачається;
							p 3.1.9. Найменування або прізвище, ім'я, по батькові та адресу особи, яка здійснює обробку персональних даних за дорученням Правовласника, якщо обробку доручено або буде доручено такій особі;
							p 3.1.10. Інші відомості, передбачені чинним законодавством.
							p 3.2. Вимагати від Правовласника уточнення його персональних даних, їх блокування або знищення у разі, якщо персональні дані є неповними, застарілими, неточними, незаконно отриманими або не є необхідними для заявленої мети обробки, а також вживати передбачених законом заходів для захисту своїх прав.
							p 3.3. Оскаржити дії або бездіяльність Правовласника в уповноважений орган із захисту прав суб'єктів персональних даних або у судовому порядку, якщо Користувач вважає, що Правовласник здійснює обробку його персональних даних з порушенням вимог чинного законодавства або іншим чином порушує його права і свободи.
							p 3.4. На захист своїх прав і законних інтересів, у тому числі на відшкодування збитків та (або) компенсацію моральної шкоди у судовому порядку.
							p 4. У процесі обробки персональних даних Правовласник зобов'язаний:
							p 4.1. Надати Користувачу на його прохання наступну інформацію:
							p 4.1.1. Підтвердження факту обробки персональних даних;
							p 4.1.2. Правові підстави і мету обробки персональних даних;
							p 4.1.3. Мету і способи обробки персональних даних, що застосовуються;
							p 4.1.4. Своє найменування і місце знаходження, відомості про осіб (за винятком працівників), які мають доступ до персональних даних або яким можуть бути розкриті персональні дані на підставі договору або на підставі чинного законодавства;
							p 4.1.5. Персональні дані Користувача, що обробляються, джерело їх отримання, якщо інший порядок представлення таких даних не передбачено чинним законодавством;
							p 4.1.6. Терміни обробки персональних даних, в тому числі терміни їх зберігання;
							p 4.1.7. Порядок здійснення Користувачем прав, передбачених чинним законодавством;
							p 4.1.8. Інформацію щодо транскордонної передачі даних, яка здійснилася або передбачається;
							p 4.1.9. Найменування або прізвище, ім'я, по батькові та адресу особи, яка здійснює обробку персональних даних за дорученням Правовласника, якщо обробку доручено або буде доручено такій особі;
							p 4.1.10. Інші відомості, передбачені чинним законодавством.
							p 4.2. Забезпечити вжиття заходів щодо запобігання несанкціонованому доступу до персональних даних Користувача.
							p 4.3. Опублікувати чи іншим чином забезпечити необмежений доступ до документа, який визначає політику щодо обробки персональних даних, а також до відомостей про вимоги до захисту персональних даних, що реалізуються.
							p 5. Метою збору і обробки персональних даних Користувача є укладення договору на надання Користувачеві права на використання мобільного додатку. При збиранні та обробці персональних даних Правовласник не переслідує інших цілей, окрім цілей виконання зазначеного договору.
							p 6. Персональні дані Користувача зберігаються на електронних носіях і обробляються з використанням автоматизованих систем обробки персональних даних.
							p 7. Правовласник збирає і обробляє наступні персональні дані Користувача:
							p 7.1. Абонентський телефонний номер;
							p 8. Знищення персональних даних Користувача здійснюється без можливості їх подальшого відновлення.
							p 9. Правовласник не використовує і не зберігає дані про Користувача, які не є персональними даними і дозволяють ідентифікувати Користувача.
							p 10. Доступ до персональних даних Користувача мають тільки працівники Правовласника. Правовласник не розповсюджує персональні дані Користувача, а також не надає до них доступ третім особам без попередньо згоди Користувача, за винятком випадків надання персональних даних за запитами уповноважених державних органів відповідно до чинного законодавства.
							p 11. Правовласник вживає наступних заходів щодо запобігання несанкціонованому доступу до персональних даних Користувача:
							p 11.1.Призначає працівників, відповідальних за організацію обробки персональних даних;
							p 11.2.Застосовує організаційні і технічні заходи щодо забезпечення безпеки персональних даних Користувача, а саме:
							p 11.2.1.Визначає загрози безпеки персональним даним під час їх обробки у інформаційних системах персональних даних;
							p 11.2.2.Організовує режим забезпечення безпеки приміщень, у яких розміщено інформаційну систему, що перешкоджає можливості неконтрольованого проникнення або перебування у цих приміщеннях осіб, які не мають права доступу до цих приміщень;
							p 11.2.3. Забезпечує збереження носіїв персональних даних;
							p 11.2.4. Затверджує перелік осіб, які мають доступ до персональних даних, необхідний для виконання ними службових (трудових) обов'язків;
							p 11.2.5. Використовує засоби захисту інформації, необхідні для запобігання несанкціонованого доступу до персональних даних;
							p 11.2.6. Оцінює ефективність вжитих заходів щодо забезпечення безпеки персональних даних;
							p 11.2.7. Забезпечує виявлення фактів несанкціонованого доступу до персональних даних та вжиття заходів;
							p 11.2.8. Відновлює персональні дані, модифіковані або знищені внаслідок несанкціонованого доступу до них (за наявності технічної можливості такого відновлення);
							p 11.2.9. Встановлює правила доступу до персональних даних, що обробляються у інформаційній системі персональних даних;
							p 11.2.10. Здійснює контроль за заходами щодо забезпечення безпеки персональних даних, що вживаються, і рівнем захищеності інформаційних систем персональних даних.
							p 12. Користувач має право вимагати від Правовласника уточнення (актуалізації) його персональних даних, їх блокування або знищення у разі, якщо персональні дані є неповними, застарілими, неточними, незаконно отриманими або не є необхідними для заявленої мети обробки, а також відкликати свою згоду на обробку персональних даних шляхом направлення Правовласнику відповідного запиту і (або) вимоги у письмовій формі рекомендованим поштовим відправленням з повідомленням про вручення або його особистого надання за місцем знаходження Правовласника.
							br
							br 
							h2 ГЕОЛОКАЦІЙНІ ДАНІ
							p 13. Правовласник отримує за допомогою мобільного додатку дані про місце знаходження Користувача (геолокаційні дані). Геолокаційні дані передаються Правовласнику тільки під час використання мобільного додатку. Користувач на свій розсуд може заборонити передачу геолокаційних даних шляхом зміни відповідних налаштувань свого мобільного пристрою, однак це може спричинити неможливість використання мобільного додатку.
							br
							br
							h2 ПЛАТІЖНІ ДАНІ
							p 14. Для отримання можливості оплати безготівковим платежем з використанням банківських карток Користувач може здійснити прив'язку банківської картки до свого ID-номеру. Прив'язка банківської картки здійснюється Користувачем самостійно у мобільному додатку шляхом зазначення наступних даних:
							p 14.1.Номер банківської картки;
							p 14.2.Термін дії банківської картки;
							p 14.3.Прізвище та ім'я власника банківської картки;
							p 14.4.Захисний код банківської картки.
							p 15. Оплата безготівковим платежем з використанням банківських карток здійснюється відповідно до правил міжнародних платіжних систем на принципах дотримання конфіденційності і безпеки здійснення платежу. Безпека наданих Користувачем даних забезпечується відповідністю процедур вимогам стандарту безпеки даних індустрії платіжних карток (Payment Card Industry Data Security Standard) і ніхто, включаючи Правовласника, не може їх отримати. Введення даних банківської картки здійснюється на захищеній платіжної сторінці банку-еквайєра, що забезпечує можливість безготівкової оплати послуг.
							p 16. Для здійснення виведення грошових коштів, що знаходяться на особовому рахунку, Користувач надає Правовласнику дані про рахунок, відкритий у кредитній організації та інші дані, необхідні для перерахування грошових коштів, у тому числі персональні дані Користувача, а саме:
							p 16.1.Банківськй ідентифікаційний код кредитної організації;
							p 16.2.Номер рахунку одержувача у кредитній організації;
							p 16.3.Прізвище, ім'я, по батькові одержувача;
							p 16.4. Номер дебетової або кредитної (банківської) картки.
							p 17. Надані Користувачем з метою здійснення виведення грошових коштів з особового рахунку дані не дозволяють Правовласнику проводити ніякі операції, окрім операцій із зарахування коштів на банківський рахунок Користувача.
							br
							br
							h2 ФАЙЛИ COOKIE
							p 18. Правовласником можуть використовуватися різноманітні типи файлів cookie.
							p 19. Заблокувати або видалити файли cookie, а також обмежити їхню дію можна у налаштуваннях браузера, який використовується Користувачем.
							br
							br
							h2 ІСТОРІЯ ЗАМОВЛЕНЬ
							p 20. Правовласник зберігає історію виконаних Користувачем дій при користуванні Додатком.
							p 21. Метою збору інформації про історію замовлень є поліпшення якості послуг та роботи додатку.


		// Footer 
		include ./includes/_footer.pug

		// Popup 
		include ./includes/_popup.pug
		
		// JS 
		include ./includes/_js.pug