doctype html
html(lang="ru")
	head
		// Meta 
		- var pageTitle = 'Terms Page';
		include ./includes/_meta.pug

		// CSS 
		include ./includes/_css.pug
	
	body
		// Preloader 
		include ./includes/_preloader.pug
		
		// Header 
		include ./includes/_header.pug

		// Terms Article 
		article.terms-article
			.container
				.row
					.col-lg-11.offset-lg-1
						h1.terms-article__title Умови використання мобільного додатку MULTIOIL та його елементів

						.terms-article__text
							h2 1. ЗАГАЛЬНІ ПОЛОЖЕННЯ
							p 1.1.  Ця Угода Користувача, разом з Політикою конфіденційності, регламентує відносини між ТОВАРИСТВОМ З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ «МУЛЬТИ ОІЛ», яке має адресу місцезнаходження: 04053, місто Київ, вулиця Січових стрільців, будинок 21, приміщення 501-Б, Код в ЄДР 43710549, (далі — «Правовласник», «Розробник»), та особою, яка використовує мобільний додаток «MULTIOIL» (далі — «Користувач» та «Додаток» відповідно), Правовласник та Користувачі іменуються надалі – «Сторони».
							p 1.2. Умови цієї Угоди є публічною офертою у відповідності до ст. 633 Цивільного кодексу України та використання Додатку можливе виключно на умовах цієї Угоди. Вказана оферта є публічним договором приєднання, тобто згідно зі статтями 633, 634 Цивільного кодексу України його умови є однаковими для всіх Користувачів. Згідно зі статтями 638, 642 Цивільного кодексу України, якщо сторона згодна з умовами (акцепту) даної оферти, вона повинна надати всі необхідні вихідні дані, які вимагаються Правовласником у Додатку та погодитись з умовами цієї Угоди. В такому випадку ця Угода вважатиметься укладеною.
							p 1.3. Користувачами Додатку є будь-які фізичні особи. 
							p 1.4. Додаток є програмою розробленою для мобільних пристроїв, які працюють під управлінням операційних систем «iOS» та «Android» , в тому числі планшетних пристроїв (далі – мобільні пристрої). Платформи та шляхи завантаження Додатку для операційної системи Android здійснюються через PlayMarket та завантаження Додатку для операційної системи «iOS» здійснюється через AppStore. 
							p 1.5. Проходження процедури активації Додатку (далі — «Реєстрація») та подальше використання Додатку є підтвердженням згоди зі всіма умовами, вказаними в цій Угоді. Правовласник визнає будь-яку особу, яка пройшла процедуру реєстрації в Додатку та використовує Додаток у відповідності з його функціональним призначенням, своїм Користувачем. На таких осіб розповсюджуються положення цієї Угоди у відповідності зі статями 633 и 634 Цивільного кодексу України. 
							p 1.6. Приймаючи умови цієї Угоди, Користувач підтверджує свою згоду на обробку Правовласником його персональних даних, наданих при реєстрації, у тому числі, але не обмежуючись, для формування і передачі відповіді Користувачеві. Також Користувач підтверджує свою згоду на передачу вказаних вище персональних даних третім особам і їх обробку третіми особами в цілях виконання цієї Угоди і реалізації функціонування Додатка, а також вирішення претензій, пов'язаних з виконанням цієї Угоди. 
							p 1.6. Приймаючи умови цієї Угоди, Користувач підтверджує свою згоду на обробку Правовласником його персональних даних, наданих при реєстрації, у тому числі, але не обмежуючись, для формування і передачі відповіді Користувачеві. Також Користувач підтверджує свою згоду на передачу вказаних вище персональних даних третім особам і їх обробку третіми особами в цілях виконання цієї Угоди і реалізації функціонування Додатка, а також вирішення претензій, пов'язаних з виконанням цієї Угоди. 
							p 1.6. Приймаючи умови цієї Угоди, Користувач підтверджує свою згоду на обробку Правовласником його персональних даних, наданих при реєстрації, у тому числі, але не обмежуючись, для формування і передачі відповіді Користувачеві. Також Користувач підтверджує свою згоду на передачу вказаних вище персональних даних третім особам і їх обробку третіми особами в цілях виконання цієї Угоди і реалізації функціонування Додатка, а також вирішення претензій, пов'язаних з виконанням цієї Угоди. 
							p 1.6. Приймаючи умови цієї Угоди, Користувач підтверджує свою згоду на обробку Правовласником його персональних даних, наданих при реєстрації, у тому числі, але не обмежуючись, для формування і передачі відповіді Користувачеві. Також Користувач підтверджує свою згоду на передачу вказаних вище персональних даних третім особам і їх обробку третіми особами в цілях виконання цієї Угоди і реалізації функціонування Додатка, а також вирішення претензій, пов'язаних з виконанням цієї Угоди. 
							p 1.7. Ця Угода може бути змінена і/або доповнена Правовласником в односторонньому порядку. При цьому продовження використання Додатка після внесення змін і/або доповнень до цієї Угоди, означає згоду Користувача з такими змінами і/або доповненнями. У разі незгоди з умовами такої зміненої Угоди, Користувач зобов'язаний відмовитися від подальшого використання Додатка. 
							p 1.8. Звернення, пропозиції та претензії до Правовласника, пов'язані зі змістом і функціонуванням Додатку, порушеннями прав та інтересів третіх осіб, вимог «Угода користувача про умови використання мобільного додатку «MULTIOIL» законодавства України можуть бути надіслані на адресу електронної пошти: _____________@______________ . 
							p 1.9. Погоджуючись з умовами цієї Угоди, Користувач підтверджує свої право- і дієздатність, підтверджує достовірність наданих ним при реєстрації даних та інформації, і приймає на себе усю відповідальність за їх точність, повноту і достовірність та відповідність чинному законодавству. 
							p 1.10. Ця Угода користувача є відкритим та загальнодоступним документом. 
							br
							br
							h2 2. ФУНКЦІОНАЛЬНІ МОЖЛИВОСТІ ДОДАТКУ
							p 2.1. Додаток є електронним сервісом, що надає послуги Користувачам з допомоги в придбані паливно-мастильних матеріалів на автозаправних комплексах партнерів Правовласника. 
							p 2.2. Перелік автозаправних станцій партнерів Правовласника вказаний у відповідному розділі Додатку.
							p 2.3. Оплата за пальне проводиться Користувачем у відповідному розділі Додатку та зараховується на віртуальний рахунок Користувача. За безпеку платіжних даних та фінансових операцій відповідає сервіс Masterpass – сховище даних платіжних карток під захистом системи безпеки Mastercard.
							p 2.3. Оплата за пальне проводиться Користувачем у відповідному розділі Додатку та зараховується на віртуальний рахунок Користувача. За безпеку платіжних даних та фінансових операцій відповідає сервіс Masterpass – сховище даних платіжних карток під захистом системи безпеки Mastercard.
							p 2.4. Для функціонування Додатку Користувач надає дозвіл на використання власного номеру мобільного телефону та даних геолокації. Геолокація - використання персональних даних, GPS координати про місце знаходження Користувача. Визначення місця розташування відбувається згідно даних GPS, які передаються мобільним пристроєм. На підставі даних мобільного пристрою відображається найближчий, згідно переданим даним, автозаправний комплекс партнера Правовласника.
							br
							br
							h2 3. ПРАВА ТА ОБОВ’ЯЗКИ КОРИСТУВАЧА
							p 2.1. Користувач зобов’язується належним чином дотримуватися умови цієї Угоди. 
							p 2.2. Користувач має право використання Додатку виключно з метою особистого використання відповідно до умов цієї Угоди.
							p 2.3. Користувач зобов’язується не використовувати Додаток в порушення прав і законних інтересів Розробника, інших правовласників, третіх осіб, та цієї Угоди. 
							p 2.4. Користувач зобов’язується вживати належних заходів для забезпечення збереження його мобільного пристрою і несе особисту відповідальність в разі доступу до його мобільного пристрою третіх осіб. 
							p 2.5. Користувачеві заборонено самостійно або із залученням третіх осіб здійснювати декомпілювання Додатку, а також здійснювати реверс інжиніринг Додатку. 
							p 2.6. Користувач несе особисту відповідальність за використання Додатку будь-якими способами, прямо не дозволеними цією Угодою. 
							p 2.7. Користувач не має права здійснювати будь-які несанкціоновані дії з Додатком. 
							p 2.8. Перед встановленням Додатка у свій мобільний пристрій, Користувач зобов’язаний ознайомитися з усією інформацією про Додаток, яка розміщена на сайті _________________. Установка Додатку у мобільний пристрій підтверджує виконання Користувачем зазначеного в цьому пункті зобов’язання. У разі незгоди з умовами цієї Угоди, використання Додатка Користувачем повинно бути негайно припинено. 
							p 2.9. Користувачеві надається можливість безоплатно завантажувати і користуватися повним функціоналом. 
							p 2.10. Відповідно до умов Політики конфіденційності, Користувач надає згоду Розробникові здійснювати обробку його персональних даних, інших даних, які Користувач своїми діями надає Розробнику, шляхом їх розміщення в Додатку, для досягнення цілей функціонування Додатку. 
							br
							br
							h2 3. ПРАВА ТА ОБОВ’ЯЗКИ РОЗРОБНИКА
							p 3.1. Розробник має право передавати права та обов’язки за цією Угодою, третім особам в цілях виконання цієї Угоди без додаткової згоди Користувача. 
							p 3.2. Розробник має право направляти Користувачеві будь-яким способом інформацію про функціонування Додатку, в тому числі направляти рекламні, інформаційні та інші повідомлення на адресу електронної пошти або номер телефону, вказаний Користувачем, або розміщувати відповідну інформацію в Додатку. 
							p 3.3. Розробник має право надавати Користувачам платні і безкоштовні послуги. Про умови надання платних послуг Розробник інформує Користувача шляхом розміщення в Додатку або на інтернет-сайті bvsua.com відповідної інформації про послугу (найменування послуги, її вартість, форма і порядок оплати). 
							p 3.4. Розробник має право заблокувати доступ Користувача до Додатку або його частини в разі виявлення порушень Користувачем цієї Угоди. 
							p 3.5. Розробник має право, з урахуванням пункту 2.10 цієї Угоди, а також відповідно до умов Політики конфіденційності здійснювати обробку персональних даних Користувача, а також інших даних, наданим Користувачем, для досягнення цілей функціонування додатку. 
							p 3.6. Розробник має право без попереднього повідомлення обмежити, призупинити або припинити користування Додатком без відшкодування Користувачеві понесених збитків, в тому числі в разі, якщо у Розробника є дані вважати, що Користувач або його афілійовані особи (навмисно чи ненавмисно): 
							p - При користуванні Додатком порушують законодавство України, положення цієї Угоди або права і законні інтереси третіх осіб;
							p - Користуються Додатком недобросовісно, надмірно або не у відповідності з його призначенням; 
							p - Завдають шкоди Додатку або його працездатності;
							p - Здійснюють спроби несанкціонованого доступу до Додатку та інформації яка міститься в ньому; 
							p - Створюють загрозу збою технічних і/або програмних засобів Розробника і/або третіх осіб. 
							p 3.7. Розробник має право без попереднього повідомлення обмежити, призупинити або припинити користування Додатком в разі прийняття відповідного рішення державного чи іншого уповноваженого органу, або в інших випадках передбачених чинним законодавством України та міжнародними правилами/ законами. 
							br
							br
							h2 4. КОНФІДИЦІЙНІСТЬ ТА БЕЗПЕКА 
							p 4.1. Сторони зобов'язуються приймати всі необхідні заходи щодо безпеки та захисту інформації та документів, обмін яких здійснюється в Додатку або доступних Сторонам у зв'язку з використанням Додатку. 
							p 4.2. Користувач зобов'язується самостійно приймати всі необхідні заходи щодо збереження конфіденційності, запобігання несанкціонованому використанню та захисту ідентифікаційних даних від несанкціонованого доступу з боку третіх осіб. 
							p 4.3. Розробник зобов'язується дотримуватися конфіденційності щодо особистих даних Користувача, а також іншої інформації про Користувача, яка стала відомою Розробнику у зв'язку з використанням Додатку, за винятком випадків, передбачених діючим законодавством. 
							p 4.4. Сторони приймають на себе зобов'язання:
							p - Не здійснювати за допомогою Додатку незаконні фінансові операції, незаконну торгівлю, операції з легалізації надходжень, отриманих злочинним шляхом, фінансування тероризму та будь-які інші операції у порушення чинного законодавства.
							p - Запобігати спробам незаконної торгівлі, незаконних фінансових операцій, операцій, спрямованих на легалізацію доходів, отриманих злочинним шляхом, фінансування тероризму.
							p - Користувач не має права використовувати Додаток для здійснення операцій, спрямованих на систематичне вилучення прибутку, приховування доходу чи іншого порушення вимог діючого законодавства України. 
							p Користувачу відомо про кримінальну та адміністративну відповідальність за здійснення підприємницької діяльності без реєстрації або з порушенням правил реєстрації, або з порушенням ліцензійних вимог та умов, а також за здійснення незаконних фінансових операцій, операцій спрямованих на легалізацію (стирання) доходів, отриманих злочинним шляхом, та фінансування тероризму. 
							br
							br
							h2 5. ГАРАНТІЇ ТА ВІДПОВІДАЛЬНІСТЬ СТОРІН 
							p 5.1. Для виконання цієї Угоди можуть залучатися треті особи. Користувач підтверджує, що зазначеним третім особам надаються такі ж права, як і власникові прав на використання Додатку чи його окремих елементів. 
							p 5.2. Користувач гарантує, що не буде робити будь-яких дій, спрямованих виключно на заподіяння шкоди Розробникові, операторам стільникового мобільного зв’язку, правовласникам або іншим особам. 
							p 5.3. У разі порушення правил використання Додатка чи його окремих елементів, обов’язків Користувача і заборон, зазначених у розділі 3 цієї Угоди, а також в разі порушення пункту 4.2 цієї Угоди, Користувач зобов’язується відшкодувати Розробникові збитки, завдані такими діями в повному обсязі. 
							p 5.4. Користувач несе повну особисту відповідальність за несанкціонований доступ третіх осіб до Додатка, встановленому на мобільний пристрій Користувача, в т.ч. до інформації, яка міститься в Додатку Користувача. 
							p 5.5. У разі втрати, видалення, пошкодження внесеної Користувачем в Додаток інформації в результаті дій/бездіяльності Користувача, всю відповідальність несе Користувач. 
							p 5.6. Визнаючи міжнародний характер Інтернету, Користувач приймає на себе відповідальність за дотримання всіх місцевих правил і законів, що стосуються дій Користувача в мережі. 
							p 5.7. Користувач Додатку зобов’язується не виконувати дій, які можуть розглядатись як порушення законодавства України або норм міжнародного права, у тому числі у сфері інтелектуальної власності, авторських та/або суміжних прав, а також будь яких дій, які призводять або можуть призвести до порушення нормальної роботи Додатку. 
							p 5.8. Розробник гарантує схоронність і нерозповсюдження інформації, яка надається Користувачем про використанні Додатку. 
							br
							br
							h2 6. ЗАКЛЮЧНІ ПОЛОЖЕННЯ 
							p 6.1. У разі виникнення будь-яких суперечок або розбіжностей, пов’язаних з виконанням цієї Угоди, Користувач і Розробник докладуть усіх зусиль для їх вирішення шляхом проведення переговорів між ними. У разі, якщо суперечки не будуть вирішені шляхом переговорів, спори підлягають вирішенню у відповідному суді за місцем знаходження Розробника. 
							p 6.2. Жодна із Сторін Угоди не несе відповідальності за невиконання або неналежне виконання зобов’язань за цією Угодою, якщо належне виконання виявилося неможливим внаслідок непереборної сили. 
							p 6.3. Ця Угода набирає чинності для Користувача з моменту реєстрації в Додатку, згідно п. 1.5. Угоди і діє безстроково, протягом усього періоду використання Користувачем Додатку. 
							p 6.4. Ця Угода складена українською мовою. 
							p 6.5. Якщо будь-яке положення цієї Угоди буде визнано недійсним, це не впливає на дійсність або застосовність інших положень цієї Угоди. Користувач підтверджує, що ознайомлений із усіма пунктами цієї Угоди та вважає їх зрозумілими і приймає їх умови.


		// Footer 
		include ./includes/_footer.pug

		// Popup 
		include ./includes/_popup.pug
		
		// JS 
		include ./includes/_js.pug