<div class="stocks-install">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="stocks-article__install text-uppercase">АКЦІЯ «ПРОСТО ВСТАНОВИ»</h1>
                <h3 class="stocks-article__install">Термін дії: з 27 березня 2021р. по 15 травня 2021р. </h3>
                <div class="text-article-install mt-60">
                    Акція <span class="text-color"> «ПРОСТО ВСТАНОВИ»</span>
                    діє для нових (не зареєстрованих в системі "MultiOil") користувачів мобільного
                    додатку "MultiOil" з 27 березня 2021р. по 15 травня 2021р. в мережі
                    АЗС «Stels» на території Чернівецької, Івано-Франківської та Львівської областей.
                    <br>
                    <span class="pt-18">Адреси АЗС які беруть участь у акції:</span>
                    <ul>Чернівецька обл.:
                        <li>с. Недобоївці, вул. Головна, 1а</li>
                        <li class="color-li">Координати: 48.43063, 26.39577</li>
                        <li class="li-mt">м. Чернівці, вул. Гагаріна, 29б</li>
                        <li class="color-li">Координати: 48.30283, 25.92483</li>
                        <li class="li-mt">м. Чернівці, вул. Сторожинецька, 194</li>
                        <li class="color-li">Координати: 48.26438, 25.90136</li>
                        <li class="li-mt">м. Чернівці, вул. Остапа Вільшини, 1</li>
                        <li class="color-li">Координати: 48.32038, 25.90626</li>
                        <li class="li-mt">м. Чернівці, вул. Хотинська, 39п</li>
                        <li class="color-li">Координати: 48.31970, 25.94105</li>
                        <li class="li-mt">c. Шипинці, вул. Лесі Українки, 82</li>
                        <li class="color-li">Координати: 48.36364, 25.73247</li>
                        <li class="li-mt">c. Великий Кучурів, Т2605</li>
                        <li class="color-li">Координати: 48.22612, 25.91654</li>
                        <li class="li-mt">с. Суховерхів, вул. Буковинська, 7</li>
                        <li class="color-li">Координати: 48.46665, 25.76776</li>
                        <li class="li-mt">c. Тарашани, Т2614</li>
                        <li class="color-li">Координати: 48.12892, 25.99556</li>
                        <li class="li-mt">c. Новоселиця, Н10</li>
                        <li class="color-li">Координати: 48.22528, 26.24299</li>
                    </ul>
                    <ul>Івано-Франківська обл.:
                        <li>м. Коломия, вул.Мазепи, 303а</li>
                        <li class="color-li">Координати: 48.52461, 25.08349</li>
                        <li class="li-mt">c. Черемхів</li>
                        <li class="color-li">Координати: 48.67481, 24.94071</li>
                        <li class="li-mt">м. Івано-Франківськ, вул. Мазепи, 176</li>
                        <li class="color-li">Координати: 48.90675, 24.68179</li>
                        <li class="li-mt">c. Діброва, вул. Тернопільська, 42 Н18</li>
                        <li class="color-li">Координати: 48.97013, 25.09620</li>
                    </ul>
                    <ul>Львівська обл.:
                        <li>c. Волиця, M11</li>
                        <li class="color-li">Координати: 49.79929, 23.02894</li>
                    </ul>

                </div>
                <div class="text-article-install mt-4">
                    За умовами акції учасник, при встановленні (завантаженні) на мобільний пристрій (смартфон)
                    мобільного додатку "MultiOil", отримує на персональний рахунок в мобільному додатку "MultiOil"
                    (після завершення процедури реєстрації в мобільному додатку "MultiOil") у розмірі 1 (одного) літру
                    пального. Тип пального обирається користувачем мобільного додатку "MultiOil" з урахуванням технічних
                    особливостей автомобіля. Нараховане пальне в подальшому можна отримати у мережі АЗС «Stels»  на
                    території Чернівецької, Івано-Франківської та Львівської областей.  
                </div>
                <div class="text-article-install mt-4">
                    Акційне пальне (один літр) за умовами акції, користувач може отримати (отоварити) на АЗС «Stels» до
                    23 години 59 хвилин 31.05.2021р. У разі якщо користувач (учасник акції) не встиг отримати (отоварити)
                    акційне пальне (один літр) до 23 години 59 хвилин 31.05.2021р., то таке пальне списується Організатором
                    з його рахунку («згорає»). Організатором акції є ТОВ “МУЛЬТИ ОІЛ” м. Київ, вул. Січових стрільців,
                    будинок 21, приміщення 501-Б. Організатор залишає за собою право вносити зміни до умов та термінів проведення
                    акції.
                </div>
                <div class="text-article-install mt-32">
                     Деталі на сайті <a href="https://multioil.com.ua/">multioil.com.ua </a>  або за тел.:<a href="tel:+0800354958"> 0 800 354 958</a>
                </div>
            </div>
        </div>
    </div>
</div>