{% load static %}
<!DOCTYPE html>
<html lang="UA">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <!--base(href="/")-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <!-- Title -->
    <title>Multioil</title>
    <!-- SEO Meta -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- Favicon -->
    <meta property="og:image" content="{% static 'img/image.jpg' %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'img/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'img/favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <!-- CSS -->
    <!-- build:css css/all.min.css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- endbuild -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4TQPW6816W"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-4TQPW6816W');
    </script>
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '736444530392641');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=736444530392641&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

</head>
<body>
<!--     Preloader-->
<div class="preloader" id="preloader"><img class="preloader__img" src="{% static 'img/logo.svg' %}" alt="logo"></div>
<!--     Header-->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12 header__col">
                <div class="logo header__logo header_logo_main__screen">
                    <a class="logo__link" href="{% url 'multi_oil:home-page' %}">
                        <img class="logo__img" src="{% static 'img/logo.svg' %}" alt="logo">
                        <div class="logo__title">MultiOil</div>
                    </a>
                </div>
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__item"><a class="menu__link" href="{% url 'multi_oil:get-news-page' %}">Блог</a>
                        </li>
                        <li class="menu__item"><a class="menu__link"
                                                  href="javascript:;" data-fancybox
                                                  data-src="#contact-popup">Контакти</a></li>
                        <li class="menu__item"><a class="menu__link" href="javascript:;" data-fancybox
                                                  data-src="#partner-popup">Стати партнером</a></li>
                        <li class="menu__item"><a class="menu__link" href="{% url 'multi_oil:stocks' %}">Акції</a></li>
                        <li class="menu__item"><a class="menu__link" href="{% url 'multi_oil:multioil-for-azs' %}">MultiOil
                            для АЗС</a></li>
                        <li class="menu__item"><a class="menu__link" href="{% url 'multi_oil:business' %}">MultiOil
                            Business для АЗС</a></li>
                    </ul>
                </nav>
                <div class="toggle menu-toggle">
                    <div class="toggle__1"></div>
                    <div class="toggle__2"></div>
                    <div class="toggle__3"></div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Mobile Section -->
<section class="mobile-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="logo mobile-section__logo"><a class="logo__link"
                                                          href="{% url 'multi_oil:home-page' %}"><img
                        class="logo__img" src="{% static 'img/logo.svg' %}" alt="logo">
                    <div class="logo__title">MultiOil<span>АЗС в смартфоні</span></div>
                </a></div>
                <div class="mobile-section__slogan">Швидко. Зручно. Дешево</div>
                <div class="download mobile-section__download">
                    <ul class="download__list">
                        <li class="download__item"><a class="download__link"
                                                      href="https://play.google.com/store/apps/details?id=com.multioilinua.app"><img
                                class="download__img" src="{% static 'img/GooglePlay-ru.svg' %}" alt="alt"></a></li>
                        <li class="download__item"><a class="download__link"
                                                      href="https://apps.apple.com/ua/app/multioil-%D0%B0%D0%B7%D1%81-%D0%B2-%D1%81%D0%BC%D0%B0%D1%80%D1%82%D1%84%D0%BE%D0%BD%D1%96/id1554826015?l=ru"><img
                                class="download__img" src="{% static 'img/AppStore-ru.svg' %}" alt="alt"></a></li>
                    </ul>
                </div>
                <!-- <div class="mobile-section__price">Ціна на будь-яке пальне: <strong>{{ price }}</strong> грн/л</div> -->
            </div>
        </div>
    </div>
</section>

<!-- Main Section -->
<section class="main-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-5">
                <picture class="main-section__picture"><img class="main-section__img"
                                                            src="{% static 'img/main-phone.png' %}" alt="alt"></picture>
            </div>
            <div class="col-lg-6 col-md-7">
                <div class="main-section__descr">
                    <h1 class="main-section__title">MultiOil <span>АЗС в смартфоні</span></h1>
                    <div class="main-section__text">
                        <p>Додаток для придбання пального від наших партнерів за вигідними цінами.</p>
                    </div>
                    <form class="form phone-form" name="form_phone_input" data-toggle="validator" data-focus="false"
                          role="form">
                        {% csrf_token %}
                        <div class="form__group phone-form__group form-group has-feedback">
                            <input class="form__input phone-form__input phone-mask" id="inputPhone" type="text"
                                   name="inputPhone"
                                   placeholder="+38 (000) 00 00 000" autocomplete="off"
                                   data-minlength="19"
                                   data-error="Введите правильный номер" required>
                            <label class="form__help help-block with-errors"></label>
                            <button type='submit' class="button phone-form__button">Отримати посилання</button>
                        </div>
                        <div class="phone-form__info">
                            <p>Залиште номер Вашого телефону і ми надішлемо</p>
                            <p>СМС з посиланням на скачування додатка.</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title about-section__title">
                    <div class="section-title__line"></div>
                    <span>Що таке MultiOil</span>
                    <div class="section-title__line"></div>
                </h2>
                <div class="about-section__descr">
                    <p><strong>MultiOil</strong> - це мобільний додаток, який дозволяє Вам легко і швидко купувати
                        пальне.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Advantages Section -->
<section class="advantages-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title advantages-section__title">Наші переваги</h2>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-lg-4 col-md-6">
                <div class="advantages-item">
                    <div class="advantages-item__circle">
                        <svg class="advantages-item__icon" width="43" height="37">
                            <use xlink:href="#a-icon-1"></use>
                        </svg>
                    </div>
                    <div class="advantages-item__descr">
                        <h3 class="advantages-item__title">Вигідна ціна</h3>
                        <div class="advantages-item__text">
                            <p>Заправляйся пальним по вигідним цінам</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="advantages-item">
                    <div class="advantages-item__circle">
                        <svg class="advantages-item__icon" width="43" height="34">
                            <use xlink:href="#a-icon-2"></use>
                        </svg>
                    </div>
                    <div class="advantages-item__descr">
                        <h3 class="advantages-item__title">Зручність</h3>
                        <div class="advantages-item__text">
                            <p>Жодних паперових талонів.</p>
                            <p>Все пальне в смартфоні</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="advantages-item">
                    <div class="advantages-item__circle">
                        <svg class="advantages-item__icon" width="43" height="46">
                            <use
                                    xlink:href="#a-icon-3"></use>
                        </svg>
                    </div>
                    <div class="advantages-item__descr">
                        <h3 class="advantages-item__title">Економія</h3>
                        <div class="advantages-item__text">
                            <p>Крім вигідних цін, Ви можете купувати пальне заздалегідь, тим самим захищаючи себе від
                                підвищення цін</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="advantages-item">
                    <div class="advantages-item__circle">
                        <svg class="advantages-item__icon" width="43" height="51">
                            <use
                                    xlink:href="#a-icon-4"></use>
                        </svg>
                    </div>
                    <div class="advantages-item__descr">
                        <h3 class="advantages-item__title">Надійність</h3>
                        <div class="advantages-item__text">
                            <p>Придбане пальне під надійним захистом, доступ до якого маєте тільки Ви</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="advantages-item">
                    <div class="advantages-item__circle">
                        <svg class="advantages-item__icon" width="43" height="37">
                            <use
                                    xlink:href="#a-icon-5"></use>
                        </svg>
                    </div>
                    <div class="advantages-item__descr">
                        <h3 class="advantages-item__title">Якість пального</h3>
                        <div class="advantages-item__text">
                            <p>Тільки якісне пальне від наших партнерів</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Partner Section -->
<section class="partner-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-title partner-section__title">Наші партнери</h2>
            </div>
            <div class="swiper-container">
                <div class="swiper mySwiper col-xl-12">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <picture class="partner-section__picture">
                                <img class="partner-section__img" src="{% static 'img/stels-logo.svg' %}" alt="alt">
                            </picture>
                            <a class="button partner-section__button" href="javascript:;" data-fancybox
                               data-src="#price-stels-popup">
                                Ціни на АЗС
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <picture class="partner-section__picture">
                                <img class="partner-section__img" src="{% static 'img/pp-oil-logo.jpg' %}" alt="alt">
                            </picture>
                            <a class="button partner-section__button" href="javascript:;" data-fancybox
                               data-src="#price-ppoil-popup">
                                Ціни на АЗС
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <picture class="partner-section__picture">
                                <img class="partner-section__img" src="{% static 'img/stels-logo.svg' %}" alt="alt">
                            </picture>
                            <a class="button partner-section__button" href="javascript:;" data-fancybox
                               data-src="#price-stels-popup">
                                Ціни на АЗС
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <picture class="partner-section__picture">
                                <img class="partner-section__img" src="{% static 'img/pp-oil-logo.jpg' %}" alt="alt">
                            </picture>
                            <a class="button partner-section__button" href="javascript:;" data-fancybox
                               data-src="#price-ppoil-popup">
                                Ціни на АЗС
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <picture class="partner-section__picture">
                                <img class="partner-section__img" src="{% static 'img/stels-logo.svg' %}" alt="alt">
                            </picture>
                            <a class="button partner-section__button" href="javascript:;" data-fancybox
                               data-src="#price-stels-popup">
                                Ціни на АЗС
                            </a>
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Steps Section -->
<section class="steps-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title steps-section__title">Як почати користуватися MultiOil</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="steps-slider swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide steps-slider__slide">
                            <div class="steps-slider__title">Скачайте додаток з PlayMarket або AppStore</div>
                            <picture class="steps-slider__picture"><img class="steps-slider__img"
                                                                        src="{% static 'img/slider-img-1.png' %}"
                                                                        alt="alt"></picture>
                        </div>
                        <div class="swiper-slide steps-slider__slide">
                            <div class="steps-slider__title">Зареєструйтесь</div>
                            <picture class="steps-slider__picture"><img class="steps-slider__img"
                                                                        src="{% static 'img/slider-img-2.png' %}"
                                                                        alt="alt"></picture>
                        </div>
                        <div class="swiper-slide steps-slider__slide">
                            <div class="steps-slider__title">Купуйте пальне натиснувши на кнопку "Придбати пальне"</div>
                            <picture class="steps-slider__picture"><img class="steps-slider__img"
                                                                        src="{% static 'img/slider-img-3.png' %}"
                                                                        alt="alt"></picture>
                        </div>
                        <div class="swiper-slide steps-slider__slide">
                            <div class="steps-slider__title">Натисніть на кнопку "Заправити машину"</div>
                            <picture class="steps-slider__picture"><img class="steps-slider__img"
                                                                        src="{% static 'img/slider-img-4.png' %}"
                                                                        alt="alt"></picture>
                        </div>
                        <div class="swiper-slide steps-slider__slide">
                            <div class="steps-slider__title">Покажіть код оператору АЗС і Ваша машина заправляється!
                            </div>
                            <picture class="steps-slider__picture"><img class="steps-slider__img"
                                                                        src="{% static 'img/slider-img-5.png' %}"
                                                                        alt="alt"></picture>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination steps-slider-pagination"></div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="steps">
                    <div class="steps-item is-active" data-slide="1">
                        <div class="steps-item__number">01.</div>
                        <div class="steps-item__title">Скачайте додаток з PlayMarket або AppStore</div>
                    </div>
                    <div class="steps-item" data-slide="2">
                        <div class="steps-item__number">02.</div>
                        <div class="steps-item__title">Зареєструйтесь</div>
                    </div>
                    <div class="steps-item" data-slide="3">
                        <div class="steps-item__number">03.</div>
                        <div class="steps-item__title">Купуйте пальне натиснувши на кнопку "Придбати пальне"</div>
                    </div>
                    <div class="steps-item" data-slide="4">
                        <div class="steps-item__number">04.</div>
                        <div class="steps-item__title">Натисніть на кнопку "Заправити машину"</div>
                    </div>
                    <div class="steps-item" data-slide="5">
                        <div class="steps-item__number">05.</div>
                        <div class="steps-item__title">Покажіть код оператору АЗС і Ваша машина заправляється!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- ACC Section Desktop -->
<section class="acc-section-desktop">
    <div class="container">
        <div class="row">
            <h2 class="col-12 acc-title">ЗМІ про нас</h2>
            <div class="blog-news">
                {% for new in news %}
                    <div class="col-xl-4 col-lg-12 acc-box">
                        <a href="{{ new.url }}">
                            <div class="quotes">''</div>
                            <div class="acc-text">
                                {{ new.name }}
                            </div>
                            <div class="acc-date">{{ new.data }}</div>
                        </a>
                    </div>

                {% endfor %}

{##}
{#                <div class="col-xl-4 col-lg-12 acc-box">#}
{#                    <a href="https://acc.cv.ua/news/storystorynka/tehnologichno/revolyuciya-rinku-pochalas-u-chernivcyah-zapustili-dodatok-z-prodazhu-palnogo-70918">#}
{#                        <div class="quotes">''</div>#}
{#                        <div class="acc-text">#}
{#                            «Революція ринку почалась: у Чернівцях запустили додаток з продажу пального»#}
{#                        </div>#}
{#                        <div class="acc-date">31 Бер 2021</div>#}
{#                    </a>#}
{#                </div>#}
{#                <div class="col-xl-4 col-lg-12 acc-box">#}
{#                    <a href="https://acc.cv.ua/news/storystorynka/tehnologichno/revolyuciya-rinku-pochalas-u-chernivcyah-zapustili-dodatok-z-prodazhu-palnogo-70918">#}
{#                        <div class="quotes">''</div>#}
{#                        <div class="acc-text">#}
{#                            «Революція ринку почалась: у Чернівцях запустили додаток з продажу пального»#}
{#                        </div>#}
{#                        <div class="acc-date">31 Бер 2021</div>#}
{#                    </a>#}
{#                </div>#}
{#                <div class="col-xl-4 col-lg-12 acc-box">#}
{#                    <a href="https://acc.cv.ua/news/storystorynka/tehnologichno/revolyuciya-rinku-pochalas-u-chernivcyah-zapustili-dodatok-z-prodazhu-palnogo-70918">#}
{#                        <div class="quotes">''</div>#}
{#                        <div class="acc-text">#}
{#                            «Революція ринку почалась: у Чернівцях запустили додаток з продажу пального»#}
{#                        </div>#}
{#                        <div class="acc-date">31 Бер 2021</div>#}
{#                    </a>#}
{#                </div>#}
            </div>
        </div>
    </div>
</section>
<!-- Contacts Section -->
<section class="contacts-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title contacts-section__title">Виникли питання? <br>Звертайтеся в службу
                    техпідтримки.</h2>
                <ul class="social contacts-section__social">
                    <li class="social__item">
                        <a class="social__link" href="https://t.me/multioil">
                            <svg class="social__icon">
                                <use
                                        xlink:href="#telegram"></use>
                            </svg>
                        </a>
                        <div class="social__title">Telegram</div>
                    </li>
                    <li class="social__item"><a class="social__link" href="viber://chat?number=%2B380631018197">
                        <svg class="social__icon">
                            <use xlink:href="#viber"></use>
                        </svg>
                    </a>
                        <div class="social__title">Viber</div>
                    </li>
                    <li class="social__item"><a class="social__link" href="tel:0800354958">
                        <svg class="social__icon">
                            <use xlink:href="#phone"></use>
                        </svg>
                    </a>
                        <div class="social__title">Зателефонувати</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xl-2 footer__col">
                <div class="logo footer__logo"><a class="logo__link" href="{% url 'multi_oil:home-page' %}">
                    <img class="logo__img" src="{% static 'img/logo.svg' %}" alt="logo">
                    <div class="logo__title">MultiOil</div>
                </a></div>
                <div class="footer-phone__descr desktop--hidden__footer">безкоштовно</div>
                <div class="footer-phone">
                    <svg class="footer-phone__icon">
                        <use xlink:href="#footer-phone"></use>
                    </svg>
                    <a class="footer-phone__link" href="tel:0800354958">0 800 354 958</a>
                </div>
                <div class="footer-phone__descr__desktop mobile--hidden__footer">безкоштовно</div>
                <ul class="social footer__social">
                    <li class="social__item"><a class="social__link" href="https://t.me/multioil">
                        <svg class="social__icon">
                            <use
                                    xlink:href="#telegram"></use>
                        </svg>
                    </a></li>
                    <li class="social__item"><a class="social__link" href="viber://chat?number=%2B380631018197">
                        <svg class="social__icon">
                            <use xlink:href="#viber"></use>
                        </svg>
                    </a></li>
                    <li class="social__item"><a class="social__link" href="tel:0800354958">
                        <svg class="social__icon">
                            <use xlink:href="#phone"></use>
                        </svg>
                    </a></li>
                </ul>
            </div>

            <div class="col-xl-2 desktop--hidden__footer">
                <div class="footer-block">

                    <div class="footer-block__title"><a class="footer-links__link" href="javascript:;"
                                                        data-fancybox data-src="#contact-popup">Контакти</a></div>
                    <div class="footer-block__title"><a class="footer-links__link"
                                                        href="{% url 'multi_oil:terms-page' %}">
                        Умови використання</a></div>
                    <div class="footer-block__title"><a class="footer-links__link"
                                                        href="{% url 'multi_oil:policy-page' %}">
                        Політика конфіденційності</a></div>
                </div>
            </div>
            <div class="col-xl-2 footer__col footer__col--hidden-mobile">
                <div class="footer-block">
                    <div class="footer-block__title">Навігація</div>
                    <nav class="footer-menu">
                        <ul class="footer-menu__list">

                            <li class="footer-menu__item">
                                <a class="footer-menu__link" href="javascript:;"
                                   data-fancybox data-src="#contact-popup">Контакти</a></li>
                            <li class="footer-menu__item"><a class="footer-menu__link" href="javascript:;"
                                                             data-fancybox data-src="#partner-popup">Стати партнером</a>
                            </li>
                            <li class="footer-menu__item"><a class="footer-menu__link"
                                                             href="{% url 'multi_oil:stocks' %}">Акції</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-xl-3 footer__col">
                <div class="footer-block">
                    <div class="footer-block__title">ВАРІАНТИ ОПЛАТИ</div>
                    <nav class="footer-menu">
                        <ul class="footer-menu__list">
                            <li class="footer-menu__item">Оплата платіжними картами</li>
                            <div class="footer_image">
                                <img src="{% static 'img/pay/visa.svg' %}" alt="visa">
                                <img src="{% static 'img/pay/master.svg' %}" alt="mastercard">
                                <img src="{% static 'img/pay/way.png' %}" alt="WAYFORPAY">
                            </div>
                            <div class="footer_image__pay">
                                <img src="{% static 'img/pay/applepay.svg' %}" alt="Apple Pay">
                                <img src="{% static 'img/pay/googlepay.svg' %}" alt="Google Pay">
                                <img class="easy_pay" src="{% static 'img/pay/easypay.png' %}" alt="EasyPay">
                            </div>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-xl-2 footer__col">
                <div class="footer-block">
                    <div class="footer-block__title">Ми в соцмережах</div>
                    <nav class="footer-menu">
                        <ul class="social footer__social">
                            <li class="social__item">
                                <a class="social__link" href="#">
                                    <svg class="social__icon">
                                        <use xlink:href="#facebook"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="social__item">
                                <a class="social__link" href="tel:0800354958">
                                    <svg class="social__icon">
                                        <use xlink:href="#instagram"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="social__item">
                                <a class="social__link" href="tel:0800354958">
                                    <svg class="social__icon">
                                        <use xlink:href="#youtube"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-xl-3 footer__col">
                <div class="footer-block">
                    <div class="footer-block__title footer__col--hidden-mobile">Завантажуй додаток</div>
                    <div class="download footer__download">
                        <div class="download__title">Завантажуй додаток для купівлі пального в мережах партнерів</div>
                        <ul class="download__list">
                            <li class="download__item"><a class="download__link"
                                                          href="https://play.google.com/store/apps/details?id=com.multioilinua.app"><img
                                    class="download__img" src="{% static 'img/GooglePlay-ru.svg' %}" alt="alt"></a></li>
                            <li class="download__item"><a class="download__link"
                                                          href="https://apps.apple.com/ua/app/multioil-%D0%B0%D0%B7%D1%81-%D0%B2-%D1%81%D0%BC%D0%B0%D1%80%D1%82%D1%84%D0%BE%D0%BD%D1%96/id1554826015?l=ru"><img
                                    class="download__img" src="{% static 'img/AppStore-ru.svg' %}" alt="alt"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="footer__bottom">
                    <div class="copyright">©MultiOil 2021</div>
                    <nav class="footer-links footer__col--hidden-mobile">
                        <ul class="footer-links__list">
                            <li class="footer-links__item">
                            <li class="footer-links__item"><a class="footer-links__link"
                                                              href="{% url 'multi_oil:terms-page' %}">Умови
                                використання</a></li>
                            <li class="footer-links__item"><a class="footer-links__link"
                                                              href="{% url 'multi_oil:policy-page' %}">Політика
                                конфіденційності</a></li>
{#                            <li class="footer-links__item"><a class="footer-links__link" href="javascript:;"#}
{#                                                              data-fancybox data-src="#waiting-popup">Політика#}
{#                                конфіденційності</a></li>#}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- Popup -->
<div class="popup" id="partner-popup">
    <h2 class="popup__title">Стати партнером</h2>
    <div class="partner-text">
        Запрошуємо до співпраці мережі АЗС. Якщо Ваша мережа налічує 3 і більше АЗС, Ви хочете розвиватися і бути
        попереду конкурентів, зробіть перший крок - заповніть анкету нижче і ми зв’яжемось із Вами найближчим часом
    </div>
    <form class="form popup__form form-partner-text" name="form_data_input" data-toggle="validator" data-focus="false"
          role="form">
        {% csrf_token %}
        <div class="form__group form-group has-feedback">
            <label class="form__label">Назва компанії</label>
            <input class="form__input form-control" type="text" name="inputCompany" placeholder="" autocomplete="off"
                   data-error="Поле обязательное для заполнения" maxlength="30" required>
            <label class="form__help help-block with-errors"></label>
        </div>
        <div class="form__group form-group has-feedback">
            <label class="form__label">Контактна особа</label>
            <input class="form__input form-control" type="text" name="inputName" placeholder="" autocomplete="off"
                   data-error="Поле обязательное для заполнения" maxlength="25" required>
            <label class="form__help help-block with-errors"></label>
        </div>
        <div class="form__group form-group has-feedback">
            <label class="form__label">Номер телефону</label>
            <input class="form__input phone-mask form-control" type="text" name="inputPhone" id="inputPhonePartner"
                   placeholder=""
                   data-minlength="19"
                   autocomplete="off"
                   data-error="Введите правильный номер" required>
            <label class="form__help help-block with-errors"></label>
        </div>
        <div class="form__button-group">
            <button type='submit' class="button form__button">Надіслати</button>
        </div>
    </form>
</div>

<div class="popup popup--contact" id="contact-popup">
    <h2 class="popup__title_contact">Контактна інформація:</h2>
    <form class="form popup__form" data-toggle="validator" data-focus="false" role="form">
        {% csrf_token %}
        <div class="form_info">ТОВ «МУЛЬТИ ОІЛ»</div>
        <div class="form_number">ЄДРПОУ 43710549</div>
        <div class="popup_border"></div>
        <div class="form_flex">
            <img src="{% static 'img/mask.png' %}" alt="mask">
            <div class="contact_info">Україна, 04053, м. Київ, вул. Січових стрільців, будинок 21, приміщення 501-Б
            </div>
        </div>
        <div class="form_flex">
            <img src="{% static 'img/mail.png' %}" alt="mail">
            <div class="contact_info">
                <a href="mailto:info@multioil.com.ua">info@multioil.com.ua</a>
            </div>
        </div>
        <div class="form_flex">
            <img src="{% static 'img/phone.png' %}" alt="phone">
            <div class="contact_info">
                <a href="tel:0800354958" class="popup_phone">0 800 354 958</a>
            </div>
        </div>
        <div class="form_flex">
            <svg class="social__icon__contact">
                <use xlink:href="#viber"></use>
            </svg>
            <div class="contact_info">
                <a href="viber://chat?number=%2B380631018197" class="popup_phone">Viber</a>
            </div>
        </div>
        <div class="form_flex">
            <svg class="social__icon__contact">
                <use xlink:href="#telegram"></use>
            </svg>
            <div class="contact_info">
                <a href="https://t.me/multioil" class="popup_phone">Telegram</a>
            </div>
        </div>
        <div class="form__button-group-contact">
            <button class="button popup__close" type="button">Закрити</button>
        </div>
    </form>
</div>

<div class="popup popup--waiting" id="waiting-popup">
    <h2 class="popup__title_waiting">Реліз додатку запланований на 27 березня</h2>
    <h3 class="popup__title_waiting">Для того щоб не пропустити реліз залиште свій номер телефону</h3>
    <form class="form phone-form form_waiting" name="form_phone_input" data-toggle="validator" data-focus="false"
          role="form">
        {% csrf_token %}
        <div class="form__group phone-form__group form-group has-feedback ">
            <input class="form__input phone-form__input_waiting phone-mask" type="text" name="inputPhone"
                   placeholder="+38 (000) 00 00 000" autocomplete="off" data-error="Поле обязательное для заполнения"
                   data-minlength="19"
                   required>
            <label class="form__help help-block with-errors"></label>
            <button type='submit' class="button button-waiting">Відправити посилання</button>
        </div>
        <div class="form__button-group-contact">
            <button class="popup__close button-close-waiting" type="button">Закрити</button>
        </div>
    </form>
</div>

<div class="popup popup--return" id="return-popup">
    <h2 class="popup__title_contact popup__title_return">Повернення та
        обмін</h2>
    <form class="form popup__form" data-toggle="validator" data-focus="false" role="form">
        {% csrf_token %}
        <div class="form-return_text">Згідно із Законом України «Про захист прав споживачів» покупець має право обміняти
            товар на аналогічний протягом 14 днів, якщо куплений товар не підійшов за формою, габаритами, фасоном,
            кольором, розміром або з інших причин, і якщо збережено товарний вигляд, ярлики і розрахунковий документ,
            виданий продавцем разом із товаром. Виняток становлять товари, які не підлягають поверненню за Законом, їх
            перелік ви можете переглянути за
            <a class="return_link" href="javascript:;" data-fancybox
               data-src="#return-form-popup">
                посиланням.</a></div>
        <div class="form__button-group-contact-return">
            <button class="button popup__close" type="button">Закрыть</button>
        </div>
    </form>
</div>

<div class="popup popup-return-form" id="return-form-popup">
    <h2 class="popup__title popup__title_return">Повернення коштів</h2>
    <form class="form popup__form" name="form_return_input" data-toggle="validator" data-focus="false" role="form">
        {% csrf_token %}
        <div class="form__group form-group has-feedback">
            <label class="form__label">Прізвище Імя Побатькові</label>
            <input class="form__input form-control" type="text" name="inputCompany" placeholder="" autocomplete="off"
                   data-error="Поле обязательное для заполнения" required>
            <label class="form__help help-block with-errors"></label>
        </div>
        <h3 class="popup__title popup__title_return">Паспортні дані</h3>
        <div class="form__group form-group has-feedback">
            <label class="form__label">(Серія та/або номер)</label>
            <input class="form__input form-control" type="text"
                   name="inputSeries"
                   placeholder="" autocomplete="off" data-error="Поле обязательное для заполнения" required>
            <label class="form__help help-block with-errors"></label>
        </div>
        <div class="form__group form-group has-feedback">
            <label class="form__label">Дата видачі</label>
            <input class="form__input form-control" type="text" name="dataD" placeholder="" autocomplete="off"
                   data-error="Поле обязательное для заполнения" required>
            <label class="form__help help-block with-errors"></label>
        </div>
        <div class="form__group form-group has-feedback padding-form">
            <label class="form__label">Ким видано</label>
            <input class="form__input form-control" type="text" name="issuedBy" placeholder="" autocomplete="off"
                   data-error="Поле обязательное для заполнения" required>
            <label class="form__help help-block with-errors"></label>
        </div>
        <div class="form__group form-group has-feedback">
            <label class="form__label">ID транзакції</label>
            <input class="form__input form-control" type="text" name="idTranz" placeholder="" autocomplete="off"
                   data-error="Поле обязательное для заполнения" required>
            <label class="form__help help-block with-errors"></label>
        </div>
        <div class="form__group form-group has-feedback">
            <label class="form__label">Сума до повернення</label>
            <input class="form__input form-control" type="text" name="BeforeTurning" placeholder="" autocomplete="off"
                   data-error="Поле обязательное для заполнения" required>
            <label class="form__help help-block with-errors"></label>
        </div>
        <div class="form__group form-group has-feedback">
            <label class="form__label">Номер телефона</label>
            <input class="form__input phone-mask form-control" type="text"
                   name="inputPhone" placeholder="+380" autocomplete="off"

                   data-error="Поле обязательное для заполнения" required>
            <label class="form__help help-block with-errors"></label>
        </div>
        <div class="form__group form-group has-feedback">
            <label class="form__label">Email</label>
            <input class="form__input form-control" type="email" name="inputEmail" placeholder="" autocomplete="off"
                   data-error="Поле обязательное для заполнения" required>
            <label class="form__help help-block with-errors"></label>
        </div>
        <div class="form__group form-group has-feedback">
            <label class="form__label">Причина повернення</label>
            <textarea class="form__input form-control" name="textarea" rows="8" placeholder="" autocomplete="off"
                      data-error="Поле обязательное для заполнения" required></textarea>
            <label class="form__help help-block with-errors"></label>
        </div>
        <div class="form__button-group">
            <button type='submit' class="button form__button">Відправити запит</button>
        </div>
    </form>
</div>

<div class="popup popup--success" id="success-popup">
    <h2 class="popup__title">Повідомлення надіслано</h2>
    <p class="popup__descr">Найближчим часом Ви отримаєте посилання на скачування додатку</p>
</div>

<div class="popup popup--success" id="success-popup-partner">
    <h2 class="popup__title">Дякуємо, що заповнили анкету!</h2>
    <p class="popup__descr">Найближчим часом наш менеджер зв’яжеться з Вами</p>
</div>

<div class="popup popup--price" id="price-stels-popup">
    <h2 class="popup__title">Ціна на пальне АЗС "STELS"</h2>
    <div class="price-table">
        <div class="price-table__header">
            <div class="row align-items-end">
                <div class="col-3">
                    <div class="price-table__title">Вид пального</div>
                </div>
                <div class="col-3">
                    <div class="price-table__title">Ціна на АЗС</div>
                </div>
                <div class="col-3">
                    <div class="price-table__title">Ціна MultiOil</div>
                </div>
                <div class="col-3">
                    <div class="price-table__title">Кешбек від MultiOil</div>
                </div>
            </div>
        </div>

        {% for azs in stels %}
            <div class="price-table__row">
                <div class="row align-items-center">
                    <div class="col-3 price-table__col">{{ azs.fuelName }}</div>
                    <div class="col-3 price-table__col">{{ azs.price }}</div>
                    <div class="col-3 price-table__col">{{ azs.systemPrice }}</div>
                    <div class="col-3 price-table__col">{{ azs.cashback }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
    <button class="button popup__close" type="button">Закрити</button>
</div>

<div class="popup popup--price" id="price-ppoil-popup">
    <h2 class="popup__title">Ціна на пальне АЗС "PP oil"</h2>
    <div class="price-table">
        <div class="price-table__header">
            <div class="row align-items-end">
                <div class="col-3">
                    <div class="price-table__title">Вид пального</div>
                </div>
                <div class="col-3">
                    <div class="price-table__title">Ціна на АЗС</div>
                </div>
                <div class="col-3">
                    <div class="price-table__title">Ціна MultiOil</div>
                </div>
                <div class="col-3">
                    <div class="price-table__title">Кешбек від MultiOil</div>
                </div>
            </div>
        </div>

        {% for azs in pp_oil %}
            <div class="price-table__row">
                <div class="row align-items-center">
                    <div class="col-3 price-table__col">{{ azs.fuelName }}</div>
                    <div class="col-3 price-table__col">{{ azs.price }}</div>
                    <div class="col-3 price-table__col">{{ azs.systemPrice }}</div>
                    <div class="col-3 price-table__col">{{ azs.cashback }}</div>
                </div>
            </div>
        {% endfor %}

    </div>
    <button class="button popup__close" type="button">Закрити</button>
</div>
<!-- JS -->
<!-- build:js js/all.min.js -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/SmoothScroll.js' %}"></script>
<script src="{% static 'js/jquery.mask.min.js' %}"></script>
<script src="{% static 'js/swiper.min.js' %}"></script>
<script src="{% static 'js/validator.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/common.js' %}"></script>
<!-- endbuild -->
<div style="display:none;">
    {% include "sprite.svg" %}
</div>

</body>
</html>