<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <!--base(href="/")-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <!-- Title -->
    <title>Умови використання</title>
    <!-- SEO Meta -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- Favicon -->
    <meta property="og:image" content="{% static 'img/image.jpg' %}">
    <link rel="apple-touch-icon" sizes="57x57" href=" {% static 'img/favicon/apple-icon-57x57.png' %}" >
    <link rel="apple-touch-icon" sizes="60x60" href=" {% static 'img/favicon/apple-icon-60x60.png' %}" >
    <link rel="apple-touch-icon" sizes="72x72" href=" {% static 'img/favicon/apple-icon-72x72.png' %}" >
    <link rel="apple-touch-icon" sizes="76x76" href=" {% static 'img/favicon/apple-icon-76x76.png' %}" >
    <link rel="apple-touch-icon" sizes="114x114" href=" {% static 'img/favicon/apple-icon-114x114.png' %}" >
    <link rel="apple-touch-icon" sizes="120x120" href=" {% static 'img/favicon/apple-icon-120x120.png' %}" >
    <link rel="apple-touch-icon" sizes="144x144" href=" {% static 'img/favicon/apple-icon-144x144.png' %}" >
    <link rel="apple-touch-icon" sizes="152x152" href=" {% static 'img/favicon/apple-icon-152x152.png' %}" >
    <link rel="apple-touch-icon" sizes="180x180" href=" {% static 'img/favicon/apple-icon-180x180.png' %}" >
    <link rel="icon" type="image/png" sizes="192x192" href=" {% static 'img/favicon/android-icon-192x192.png' %}" >
    <link rel="icon" type="image/png" sizes="32x32" href=" {% static 'img/favicon/favicon-32x32.png' %}" >
    <link rel="icon" type="image/png" sizes="96x96" href=" {% static 'img/favicon/favicon-96x96.png' %}" >
    <link rel="icon" type="image/png" sizes="16x16" href=" {% static 'img/favicon/favicon-16x16.png' %}" >
    <link rel="manifest" href=" {% static 'img/favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content=" {% static 'img/favicon/ms-icon-144x144.png' %}" >
    <meta name="theme-color" content="#ffffff">
    <!-- CSS -->
    <!-- build:css css/all.min.css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" >
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/main.css' %}" >
    <!-- endbuild -->
        <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-4TQPW6816W');
    </script>
    <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '736444530392641');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=736444530392641&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

  </head>
  <body>
  <!--     Preloader-->
  <div class="preloader" id="preloader"><img class="preloader__img" src="{% static 'img/logo.svg' %}" alt="logo"></div>
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12 header__col">
                <div class="logo header__logo">
                    <a class="logo__link" href="{% url 'multi_oil:home-page' %}">
                        <img class="logo__img" src="{% static 'img/logo.svg' %}" alt="logo">
                        <div class="logo__title">MultiOil</div>
                    </a>
                </div>
                <nav class="menu">
                    <ul class="menu__list">
                         <li class="menu__item">
                            <a class="menu__link" href="{% url 'multi_oil:get-news-page' %}">
                                Блог
                            </a>
                        </li>
                        <li class="menu__item"><a class="menu__link"
                                                  href="javascript:;" data-fancybox
                                                  data-src="#contact-popup">Контакти</a></li>
                        <li class="menu__item"><a class="menu__link" href="javascript:;" data-fancybox
                                                  data-src="#partner-popup">Стати партнером</a></li>
                        <li class="menu__item"><a class="menu__link" href="{% url 'multi_oil:stocks' %}">Акції</a></li>
                        <li class="menu__item"><a class="menu__link" href="{% url 'multi_oil:multioil-for-azs' %}">MultiOil
                            для АЗС</a></li>
                        <li class="menu__item"><a class="menu__link" href="{% url 'multi_oil:business' %}">MultiOil
                            Business для АЗС</a></li>
                    </ul>
                </nav>
                <div class="toggle menu-toggle">
                    <div class="toggle__1"></div>
                    <div class="toggle__2"></div>
                    <div class="toggle__3"></div>
                </div>
            </div>
        </div>
    </div>
</header>
    <!-- Terms Article -->
    <article class="terms-article">
      <div class="container">
        <div class="row">
          <div class="col-lg-11 offset-lg-1">
            <h1 class="terms-article__title">Умови використання мобільного додатка MULTIOIL та його елементів</h1>
            <div class="terms-article__text">
              <h2>1. ЗАГАЛЬНІ ПОЛОЖЕННЯ</h2>
              <p>1.1.  Ця Угода Користувача, разом з Політикою конфіденційності, регламентує відносини між ТОВАРИСТВОМ З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ «МУЛЬТИ ОІЛ», яке має адресу місцезнаходження: 04053, місто Київ, вулиця Січових стрільців, будинок 21, приміщення 501-Б, Код в ЄДР 43710549, (далі — «Правовласник»), та особою, яка використовує мобільний додаток «MULTIOIL» (далі — «Користувач» та «Додаток» відповідно), Правовласник та Користувачі іменуються надалі – «Сторони».</p>
              <p>1.2. Умови цієї Угоди є публічною офертою у відповідності до ст. 633 Цивільного кодексу України та використання Додатка можливе виключно на умовах цієї Угоди. Вказана оферта є публічним договором приєднання, тобто згідно зі статтями 633, 634 Цивільного кодексу України його умови є однаковими для всіх Користувачів. Згідно зі статтями 638, 642 Цивільного кодексу України, якщо сторона згодна з умовами (акцепту) даної оферти, вона повинна надати всі необхідні вихідні дані, які вимагаються Правовласником у Додатка та погодитись з умовами цієї Угоди. В такому випадку ця Угода вважатиметься укладеною.</p>
              <p>1.3. Користувачами Додатка є будь-які фізичні особи. </p>
              <p>1.4. Додаток є програмою розробленою для мобільних пристроїв, які працюють під управлінням операційних систем «iOS» та «Android» , в тому числі планшетних пристроїв (далі – мобільні пристрої). Платформи та шляхи завантаження Додатка для операційної системи Android здійснюються через PlayMarket та завантаження Додатка для операційної системи «iOS» здійснюється через AppStore. </p>
              <p>1.5. Проходження процедури активації Додатка (далі — «Реєстрація») та подальше використання Додатка є підтвердженням згоди з усіма умовами, вказаними в цій Угоді. Правовласник визнає будь-яку особу, яка пройшла процедуру реєстрації в Додатка та використовує Додаток у відповідності з його функціональним призначенням, своїм Користувачем. На таких осіб розповсюджуються положення цієї Угоди у відповідності зі статями 633 и 634 Цивільного кодексу України. </p>
              <p>1.6. Приймаючи умови цієї Угоди, Користувач підтверджує свою згоду на обробку Правовласником його персональних даних, наданих при реєстрації, у тому числі, але не обмежуючись, для формування і передачі відповіді Користувачеві. Також Користувач підтверджує свою згоду на передачу вказаних вище персональних даних третім особам і їх обробку третіми особами в цілях виконання цієї Угоди і реалізації функціонування Додатка, а також вирішення претензій, пов'язаних з виконанням цієї Угоди. </p>
              <p>1.7. Ця Угода може бути змінена і/або доповнена Правовласником в односторонньому порядку. При цьому продовження використання Додатка після внесення змін і/або доповнень до цієї Угоди, означає згоду Користувача з такими змінами і/або доповненнями. У разі незгоди з умовами такої зміненої Угоди, Користувач зобов'язаний відмовитися від подальшого використання Додатка. </p>
              <p>1.8. Звернення, пропозиції та претензії до Правовласника, пов'язані зі змістом і функціонуванням Додатка, порушеннями прав та інтересів третіх осіб, вимог «Угода користувача про умови використання мобільного додатку «MULTIOIL» законодавства України можуть бути надіслані на адресу електронної пошти:
                  <a href="mailto:info@multioil.com.ua<"> info@multioil.com.ua</a></p>
              <p>1.9. Погоджуючись з умовами цієї Угоди, Користувач підтверджує свої право і дієздатність, підтверджує достовірність наданих ним при реєстрації даних та інформації, і приймає на себе всю відповідальність за їх точність, повноту і достовірність та відповідність чинному законодавству. </p>
              <p>1.10. Ця Угода користувача є відкритим та загальнодоступним документом з урахуванням всіх змін та доповнень. </p><br><br>
              <h2>2. ФУНКЦІОНАЛЬНІ МОЖЛИВОСТІ Додатка</h2>
              <p>2.1. Додаток є електронним сервісом, що надає послуги Користувачам з допомоги в придбанні паливно-мастильних матеріалів на автозаправних комплексах партнерів Правовласника. </p>
              <p>2.2. Перелік автозаправних станцій партнерів Правовласника вказаний у відповідному розділі Додатка.</p>
              <p>2.3. Оплата за пальне проводиться Користувачем у відповідному розділі Додатка та зараховується на віртуальний рахунок Користувача з подальшим перерахунком на літри придбаного пального. За безпеку платіжних даних та фінансових операцій відповідає сервіс WayForPay (wayforpay.com).</p>
              <p>2.4. Для функціонування Додатка Користувач надає дозвіл на використання власного номеру мобільного телефону та даних геолокації. <br>
                  Геолокація - використання персональних даних, GPS координати про місце знаходження Користувача. Визначення місця розташування відбувається згідно даних GPS, які передаються мобільним пристроєм. На підставі даних мобільного пристрою відображається найближчий, згідно переданим даним, автозаправний комплекс партнера Правовласника.</p>
              <p>2.5. Придбане через Додаток пальне є власністю Користувача, який має право вільно та безперешкодно їм розпоряджатися, в тому числі на власний розсуд через відповідний розділ Додатка перенаправляти його іншим Користувачам Додатка. Обмеження даного пункту поширюються лише на пальне яке користувач отримує від правовласника як дарунок.</p>
                <p>2.6. При втраті користувачем мобільного номеру (SIM-картки — ідентифікаційний модуль абонента у вигляді смарт-карти, що застосовується в мобільному зв'язку), що унеможливлює ідентифікацію останнього (до моменту поновлення втраченої SIM-картки у надавача послуг мобільного зв'язку) Правовласник не здійснює перенесення балансу придбаного пального з одного мобільного номеру телефону (ідентифікатор входу в мобільний додаток) на інший (як засіб ідентифікації) до моменту повної ідентифікації клієнта (шляхом надання відповідних документів) та підтвердження факту належності йому мобільних номерів як засобів ідентифікації власника (користувача) мобільного додатку «MULTIOIL». Крім того Правовласник не несе відповідальності у разі втрати Користувачем мобільного номеру (SIM-картки) як засобу ідентифікації клієнта, до моменту його поновлення останнім.</p><br><br>
              <h2>3. ПРАВА ТА ОБОВ’ЯЗКИ КОРИСТУВАЧА</h2>
              <p>3.1. Користувач зобов’язується належним чином дотримуватися умови цієї Угоди. </p>
              <p>3.2. Користувач має право використовувати Додаток виключно з метою особистого використання відповідно до умов цієї Угоди.</p>
              <p>3.3. Користувач зобов’язується не використовувати Додаток з метою порушення прав і законних інтересів Розробника, інших правовласників, третіх осіб та цієї Угоди. </p>
              <p>3.4. Користувач зобов’язується вживати належних заходів для забезпечення збереження його мобільного пристрою і несе особисту відповідальність в разі доступу до його мобільного пристрою третіх осіб. </p>
              <p>3.5. Користувачеві заборонено самостійно або із залученням третіх осіб здійснювати компілювання Додатка, а також здійснювати реверс інжиніринг Додатка. </p>
              <p>3.6. Користувач несе особисту відповідальність за використання Додатка будь-якими способами, що прямо не дозволені цією Угодою. </p>
              <p>3.7. Користувач не має права здійснювати будь-які несанкціоновані дії з Додатком. </p>
              <p>3.8. Перед встановленням Додатка у свій мобільний пристрій, Користувач зобов’язаний ознайомитися з усією інформацією про Додаток, яка розміщена на сайті multioil.com.ua. Встановлення Додатка у мобільний пристрій підтверджує виконання Користувачем зазначеного в цьому пункті зобов’язання. У разі незгоди з умовами цієї Угоди, використання Додатка Користувачем повинно бути негайно припинено.</p>
              <p>3.9. Користувачеві надається можливість безоплатно завантажувати і користуватися повним функціоналом. </p>
              <p>3.10. Відповідно до умов Політики конфіденційності, Користувач надає згоду Правовласнику здійснювати обробку його персональних даних, інших даних, які Користувач своїми діями надає Правовласнику шляхом їх розміщення в Додатка, для досягнення цілей функціонування Додатка. </p><br><br>
              <h2>4. ПРАВА ТА ОБОВ’ЯЗКИ ПРАВОВЛАСНИКА</h2>
              <p>4.1. Правовласник має право передавати права та обов’язки за цією Угодою третім особам в цілях виконання цієї Угоди без додаткової згоди Користувача. </p>
              <p>4.2. Правовласник має право направляти Користувачеві будь-яким способом інформацію про функціонування Додатка, в тому числі направляти рекламні, інформаційні та інші повідомлення на адресу електронної пошти або номер телефону, вказаний Користувачем, або розміщувати відповідну інформацію в Додатка. </p>
              <p>4.3. Правовласник має право надавати Користувачам платні і безоплатні послуги. Про умови надання платних послуг Правовласник інформує Користувача шляхом розміщення в Додатка MULTIOIL або на інтернет-сайті multioil.com.ua відповідної інформації про послугу (найменування послуги, її вартість, форма і порядок оплати). </p>
              <p>4.4. Правовласник має право заблокувати доступ Користувача до Додатка або його частини в разі виявлення порушень Користувачем цієї Угоди. </p>
              <p>4.5. Правовласник має право, з урахуванням пункту 3.10 цієї Угоди, а також відповідно до умов Політики конфіденційності здійснювати обробку персональних даних Користувача, а також інших даних, наданих Користувачем, для досягнення цілей функціонування Додатка. </p>
              <p>4.6. Правовласник має право без попереднього повідомлення обмежити, призупинити або припинити користування Додатком без відшкодування Користувачеві завданих збитків, в тому числі у випадку, якщо у Правовласника є підстави вважати, що Користувач або його афілійовані особи (навмисно чи ненавмисно): </p>
              <p>- при користуванні Додатком порушують законодавство України, положення цієї Угоди або права і законні інтереси третіх осіб;</p>
              <p>- користуються Додатком недобросовісно, надмірно або не у відповідності з його призначенням; </p>
              <p>- завдають шкоди Додатка або його працездатності;</p>
              <p>- здійснюють спроби несанкціонованого доступу до Додатка та інформації яка міститься в ньому; </p>
              <p>- створюють загрозу збою технічних і/або програмних засобів Правовласника і/або третіх осіб. </p>
              <p>4.7. Правовласник має право без попереднього повідомлення обмежити, призупинити або припинити користування Додатком в разі прийняття відповідного рішення державного чи іншого уповноваженого органу, або в інших випадках передбачених чинним законодавством України та міжнародними правилами/законами. </p>
              <p>4.8. Ціна на продукцію залежить від ринкових цін та відображається на сайті Правовласника та мобільному додатку «MULTIOIL». Зміна ціни (при потребі) може відбуватись в будь який день з 11-30 до 12-30 шляхом проведення відповідних змін на сайті Правовласника та мобільного додатку «MULTIOIL». </p><br><br>
             <h2>5. ОТРИМАННЯ ПОКУПЦЕМ ПОВЕРНЕННЯ (КЕШБЕК)</h2>
              <p>5.1. Якщо Користувач Додатка в період проведення Правовласником програми повернення (кешбек) зробив покупку з дотриманням всіх умов сервісу Правовласник автоматично зараховує на баланс Користувача певну кількість віртуальних одиниць (літрів) пального з подальшою можливістю його отримання на АЗС партнерів. Нарахування Кешбек пального проводиться Правовласником шляхом зарахування до відповідного розділу мобільного додатка «MULTIOIL» ( так званої "віртуальної бочки" Користувача) певного відсотку пального від придбаного та отриманого на АЗС партнерів Користувачем. Відсоток повернення залежить від умов проведення програми повернення (кешбек) та визначається Правовласником у кожному випадку окремо шляхом відображення умов та % на сайті компанії Правовласника або у мобільному додаткн «MULTIOIL». </p>
              <p> «Кешбек» - віртуальна одиниця, що нараховується Користувачу та накопичується у відповідному розділі Додатка (його "віртуальній бочці"), у вигляді пального (літри) та може бути отримана на АЗС партнерів додатку «MULTIOIL». Кешбек пальне не є товаром та не може бути обміняне на грошові кошти. «Віртуальна бочка» - сукупність даних в інформаційній системі та мобільному додатка «MULTIOIL» Правовласника про Транзакції нарахування та списання пального  Користувача.</p>
              <p>5.2. Правовласник в односторонньому порядку встановлює ставку та період дії програми застосування (з відображенням умов на сайті компанії Правовласника або у мобільному додатку «MULTIOIL») Кешбек по кожній операції отримання пального на АЗС партнерів Користувачем через Додаток і має право змінювати її в будь-який час до моменту нарахування Кешбек. Правовласник залишає за собою право змінювати перелік товарів, які беруть участь в період дії програми Кешбек та строки проведення програми шляхом відображення відповідних змін на сайті Правовласника або у мобільному додатку «MULTIOIL». </p>
              <p>5.3. Кешбек нараховується за досконалу покупку тільки за умови, що покупка дійсно зроблена, оплата проведена та товар (пальне) отримано на АЗС партнерів. </p>
              <p>5.4. Кількість нарахованого Кешбеку Користувач має змогу перевірити у мобільному додатку «MULTIOIL». </p>
              <p>5.5. Нарахування Кешбек літрів пального відбувається після отримання Користувачем товару (пального) на АЗС партнерів. </p>
              <p>5.6. Нараховані за отриманий товар (пальне) на АЗС партнерів Кешбек літри пального (кешбек), є доступними одразу після їх зарахування. </p>
              <p>5.7. Використання (списання) Кешбеку з віртуальної бочки здійснюється  у співвідношенні до нарахованих літрів пального, нарахування яких буде здійснюватись по умовам проведених програм (з відображенням умов на сайті компанії Правовласника або у мобільному додатку «MULTIOIL»). </p>
              <p>5.8. Інформація про порядок використання Кешбеку у випадку проведення акцій, надання спеціальних пропозицій тощо, які можуть змінювати/доповнювати порядок використання Кешбеку, розміщується на сайті компанії Правовласника або у мобільному додатку «MULTIOIL». Якщо Користувач не використав весь Кешбек при здійсненні покупки, решта Кешбеку залишається у “віртуальній бочці” з можливістю їх використання (списання) при здійсненні подальших операцій. </p>
              <p>5.9. Кешбек літри пального (кешбек), що не були використані Користувачем протягом 180 днів з дати їх активації, вважаються анульованими і списуються з віртуальної бочки Користувача. Кешбек літри пального (кешбек) списуються в хронологічному порядку в залежності від їхньої дати активації.</p>
              <p>5.10. Кешбек літри пального (кешбек) не можуть бути переведені в грошовий еквівалент і видані Користувачу готівковими та/або безготівковими коштами (або повернута в іншій формі). </p><br><br>
              <h2>6. ОТРИМАННЯ БОНУСІВ ТА ІНШИХ ВИНАГОРОД</h2>
              <p>6.1. Для Користувачів Додатка Правовласник може запроваджувати та проводити різного роду програми та акції шляхом відображення інформації про умови проведення та терміни проведення програми та акції на сайті компанії Правовласника або у мобільному додатку «MULTIOIL». </p>
              <p>6.2. Правовласник може запроваджувати також інші бонусні програми та винагороди для Користувачів умови та терміни проведення яких відображаються на сайті компанії Правовласника або у мобільному додатку «MULTIOIL». </p>
              <p>6.3. Правовласник залишає за собою право в односторонньому порядку змінювати умови будь-якої бонусної, акційної програми або припинити її роботу в будь-який момент. </p><br><br>
              <h2>7. КОНФІДЕНЦІЙНІСТЬ ТА БЕЗПЕКА </h2>
              <p>7.1. Сторони зобов'язуються приймати всі необхідні заходи щодо безпеки та захисту інформації та документів, обмін яких здійснюється в Додатка або доступних Сторонам у зв'язку з використанням Додатка. </p>
              <p>7.2. Користувач зобов'язується самостійно приймати всі необхідні заходи щодо збереження конфіденційності, запобігання несанкціонованому використанню та захисту ідентифікаційних даних від несанкціонованого доступу з боку третіх осіб. </p>
              <p>7.3. Правовласник зобов'язується дотримуватися конфіденційності щодо особистих даних Користувача, а також іншої інформації про Користувача, яка стала відомою Правовласнику у зв'язку з використанням Додатка, за винятком випадків, передбачених діючим законодавством. </p>
              <p>7.4. Сторони приймають на себе зобов'язання:</p>
              <p>- Не здійснювати за допомогою Додатка незаконні фінансові операції, незаконну торгівлю, операції з легалізації надходжень, отриманих злочинним шляхом, фінансування тероризму та будь-які інші операції у порушення чинного законодавства.</p>
              <p>- Запобігати спробам незаконної торгівлі, незаконних фінансових операцій, операцій, спрямованих на легалізацію доходів, отриманих злочинним шляхом, фінансування тероризму.</p>
              <p>- Користувач не має права використовувати Додаток для здійснення операцій, спрямованих на систематичне вилучення прибутку, приховування доходу чи іншого порушення вимог діючого законодавства України. </p>
              <p>Користувачу відомо про кримінальну та адміністративну відповідальність за здійснення підприємницької діяльності без реєстрації або з порушенням правил реєстрації, або з порушенням ліцензійних вимог та умов, а також за здійснення незаконних фінансових операцій, операцій спрямованих на легалізацію (стирання) доходів, отриманих злочинним шляхом та фінансування тероризму. </p><br><br>
              <h2>8. ГАРАНТІЇ ТА ВІДПОВІДАЛЬНІСТЬ СТОРІН </h2>
              <p>8.1. Для виконання цієї Угоди можуть залучатися треті особи. Користувач підтверджує, що зазначеним третім особам надаються такі ж права, як і власникові прав на використання Додатка чи його окремих елементів. </p>
              <p>8.2. Користувач гарантує, що не буде робити будь-яких дій, спрямованих виключно на заподіяння шкоди Правовласнику , операторам стільникового мобільного зв’язку, або іншим особам. </p>
              <p>8.3. У разі порушення правил використання Додатка чи його окремих елементів, обов’язків Користувача і заборон, зазначених у розділі 3 цієї Угоди, а також в разі порушення пункту 3.2 цієї Угоди, Користувач зобов’язується відшкодувати Правовласнику збитки, завдані такими діями в повному обсязі. </p>
              <p>8.4. Користувач несе повну особисту відповідальність за несанкціонований доступ третіх осіб до Додатка, встановленому на мобільний пристрій Користувача, в т.ч. до інформації, яка міститься в Додатка Користувача. </p>
              <p>8.5. У разі втрати, видалення, пошкодження внесеної Користувачем в Додаток інформації в результаті дій/бездіяльності Користувача, всю відповідальність несе Користувач. </p>
              <p>8.6. Визнаючи міжнародний характер Інтернету, Користувач приймає на себе відповідальність за дотримання всіх місцевих правил і законів, що стосуються дій Користувача в мережі. </p>
              <p>8.7. Користувач Додатка зобов’язується не виконувати дій, які можуть розглядатись як порушення законодавства України або норм міжнародного права, у тому числі у сфері інтелектуальної власності, авторських та/або суміжних прав, а також будь яких дій, які призводять або можуть призвести до порушення нормальної роботи Додатка. </p>
              <p>8.8. Правовласник гарантує схоронність і нерозповсюдження інформації, яка надається Користувачем при використанні Додатка. </p><br><br>
              <h2>9. Повернення товару та коштів</h2>
              <p>9.1. При отриманні товару неналежної якості Користувач має право на захист своїх інтересів відповідно до Закону України «Про захист прав споживачів». Грошові кошти повертаються Користувачу у разі придбання ним товару неналежної якості, що підтверджено висновком експертизи. Експертиза якості товару проводиться згідно Наказу Державного комітету України з питань технічного регулювання та споживчої політики, Міністерством палива та енергетики  України від 04.06.2007 № 271/121. Повернення грошових коштів провадиться електронною платіжною системою через яку було зараховано оплату за вирахуванням комісії у розмірі 5% від суми операції, яка утримується фінансовою установою надавачем таких фінансових послуг. Термін повернення коштів складає до 10 робочих днів від дня отримання висновку експертизи. </p>
              <p>9.2. Повернення коштів при не отриманому товарі відбувається відповідно до Закону України «Про захист прав споживачів» шляхом подання відповідної заяви (зразок якої наведено на сайті ТОВ “МУЛЬТИ ОІЛ”) на електронну адресу <a href="mailto:info@multioil.com.ua<"> info@multioil.com.ua</a> з прикріпленням документів у сканованому вигляді належної якості: копія 1, 2, 3 та 11 сторінки паспорту та ідентифікаційного коду отримувача. Повернення грошових коштів провадиться електронною платіжною системою через яку було зараховано оплату за вирахуванням комісії у розмірі 5% від суми операції яка утримується фінансовою установою надавачем таких фінансових послуг. Термін повернення коштів складає до 10 робочих днів від дня отримання заяви.</p>
              <p>9.3. Відміна транзакцій проводиться шляхом подання відповідної заяви (зразок якої наведено на сайті ТОВ “МУЛЬТИ ОІЛ”) на електронну адресу <a href="mailto:info@multioil.com.ua<"> info@multioil.com.ua</a> з прикріпленням документів у сканованому вигляді належної якості: копія 1, 2, 3 та 11 сторінки паспорту та ідентифікаційного коду отримувача</p><br><br>
              <h2>10. ЗАКЛЮЧНІ ПОЛОЖЕННЯ </h2>
              <p>10.1. У разі виникнення будь-яких суперечок або розбіжностей, пов’язаних з виконанням цієї Угоди, Користувач і Правовласник докладають усіх зусиль для їх вирішення шляхом проведення переговорів між ними. У разі, якщо суперечки не будуть вирішені шляхом переговорів, спори підлягають вирішенню у відповідному суді за місцем знаходження Розробника Правовласника. </p>
              <p>10.2. Жодна із Сторін Угоди не несе відповідальності за невиконання або неналежне виконання зобов’язань за цією Угодою, якщо належне виконання виявилося неможливим внаслідок обставин непереборної сили. </p>
              <p>10.3. Ця Угода набирає чинності для Користувача з моменту реєстрації в Додатка, згідно п. 1.5. Угоди і діє безстроково, протягом усього періоду використання Користувачем Додатка. </p>
              <p>10.4. Ця Угода складена українською мовою. </p>
              <p>10.5. Якщо будь-яке положення цієї Угоди буде визнано недійсним, це не впливає на дійсність або застосовність інших положень цієї Угоди. Користувач підтверджує, що ознайомлений із усіма пунктами цієї Угоди та вважає їх зрозумілими і приймає їх умови.</p>
            </div>
          </div>
        </div>
      </div>
    </article>
<!-- Footer -->
<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xl-2 footer__col">
                <div class="logo footer__logo"><a class="logo__link" href="{% url 'multi_oil:home-page' %}">
                    <img class="logo__img" src="{% static 'img/logo.svg' %}" alt="logo">
                    <div class="logo__title">MultiOil</div>
                </a></div>
                <div class="footer-phone__descr desktop--hidden__footer">безкоштовно</div>
                <div class="footer-phone">
                    <svg class="footer-phone__icon">
                        <use xlink:href="#footer-phone"></use>
                    </svg>
                    <a class="footer-phone__link" href="tel:0800354958">0 800 354 958</a>
                </div>
                <div class="footer-phone__descr__desktop mobile--hidden__footer">безкоштовно</div>
                <ul class="social footer__social">
                    <li class="social__item"><a class="social__link" href="https://t.me/multioil">
                        <svg class="social__icon">
                            <use
                                    xlink:href="#telegram"></use>
                        </svg>
                    </a></li>
                    <li class="social__item"><a class="social__link" href="viber://chat?number=%2B380631018197">
                        <svg class="social__icon">
                            <use xlink:href="#viber"></use>
                        </svg>
                    </a></li>
                    <li class="social__item"><a class="social__link" href="tel:0800354958">
                        <svg class="social__icon">
                            <use xlink:href="#phone"></use>
                        </svg>
                    </a></li>
                </ul>
            </div>

            <div class="col-xl-2 desktop--hidden__footer">
                <div class="footer-block">

                    <div class="footer-block__title"><a class="footer-links__link" href="javascript:;"
                                                        data-fancybox data-src="#contact-popup">Контакти</a></div>
                    <div class="footer-block__title"><a class="footer-links__link"
                                                        href="{% url 'multi_oil:terms-page' %}">
                        Умови використання</a></div>
                    <div class="footer-block__title"><a class="footer-links__link"
                                                        href="{% url 'multi_oil:policy-page' %}">
                        Політика конфіденційності</a></div>
                </div>
            </div>
            <div class="col-xl-2 footer__col footer__col--hidden-mobile">
                <div class="footer-block">
                    <div class="footer-block__title">Навігація</div>
                    <nav class="footer-menu">
                        <ul class="footer-menu__list">

                            <li class="footer-menu__item">
                                <a class="footer-menu__link" href="javascript:;"
                                   data-fancybox data-src="#contact-popup">Контакти</a></li>
                            <li class="footer-menu__item"><a class="footer-menu__link" href="javascript:;"
                                                             data-fancybox data-src="#partner-popup">Стати партнером</a>
                            </li>
                            <li class="footer-menu__item"><a class="footer-menu__link"
                                                             href="{% url 'multi_oil:stocks' %}">Акції</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-xl-3 footer__col">
                <div class="footer-block">
                    <div class="footer-block__title">ВАРІАНТИ ОПЛАТИ</div>
                    <nav class="footer-menu">
                        <ul class="footer-menu__list">
                            <li class="footer-menu__item">Оплата платіжними картами</li>
                            <div class="footer_image">
                                <img src="{% static 'img/pay/visa.svg' %}" alt="visa">
                                <img src="{% static 'img/pay/master.svg' %}" alt="mastercard">
                                <img src="{% static 'img/pay/way.png' %}" alt="WAYFORPAY">
                            </div>
                            <div class="footer_image__pay">
                                <img src="{% static 'img/pay/applepay.svg' %}" alt="Apple Pay">
                                <img src="{% static 'img/pay/googlepay.svg' %}" alt="Google Pay">
                                <img class="easy_pay" src="{% static 'img/pay/easypay.png' %}" alt="EasyPay">
                            </div>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-xl-2 footer__col">
                <div class="footer-block">
                    <div class="footer-block__title">Ми в соцмережах</div>
                    <nav class="footer-menu">
                        <ul class="social footer__social">
                            <li class="social__item">
                                <a class="social__link" href="https://www.facebook.com/Multi-Oil-АЗС-у-смартфоні-172306581007400">
                                    <svg class="social__icon">
                                        <use xlink:href="#facebook"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="social__item">
                                <a class="social__link" href="https://www.instagram.com/multi_oil_app/">
                                    <svg class="social__icon">
                                        <use xlink:href="#instagram"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="social__item">
                                <a class="social__link" href="#">
                                    <svg class="social__icon">
                                        <use xlink:href="#youtube"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-xl-3 footer__col">
                <div class="footer-block">
                    <div class="footer-block__title footer__col--hidden-mobile">Завантажуй додаток</div>
                    <div class="download footer__download">
                        <div class="download__title">Завантажуй додаток для купівлі пального в мережах партнерів</div>
                        <ul class="download__list">
                            <li class="download__item"><a class="download__link"
                                                          href="https://play.google.com/store/apps/details?id=com.multioilinua.app"><img
                                    class="download__img" src="{% static 'img/GooglePlay-ru.svg' %}" alt="alt"></a></li>
                            <li class="download__item"><a class="download__link"
                                                          href="https://apps.apple.com/ua/app/multioil-%D0%B0%D0%B7%D1%81-%D0%B2-%D1%81%D0%BC%D0%B0%D1%80%D1%82%D1%84%D0%BE%D0%BD%D1%96/id1554826015?l=ru"><img
                                    class="download__img" src="{% static 'img/AppStore-ru.svg' %}" alt="alt"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="footer__bottom">
                    <div class="copyright">©MultiOil 2021</div>
                    <nav class="footer-links footer__col--hidden-mobile">
                        <ul class="footer-links__list">
                            <li class="footer-links__item">
                            <li class="footer-links__item"><a class="footer-links__link"
                                                              href="{% url 'multi_oil:terms-page' %}">Умови
                                використання</a></li>
                            <li class="footer-links__item"><a class="footer-links__link"
                                                              href="{% url 'multi_oil:policy-page' %}">Політика
                                конфіденційності</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>  <!-- Popup -->
    <div class="popup" id="partner-popup">
    <h2 class="popup__title">Стати партнером</h2>
    <div class="partner-text">
        Запрошуємо до співпраці мережі АЗС. Якщо Ваша мережа налічує 3 і більше АЗС, Ви хочете розвиватися і бути
        попереду конкурентів, зробіть перший крок - заповніть анкету нижче і ми зв’яжемось із Вами найближчим часом
    </div>
    <form class="form popup__form form-partner-text" name="form_data_input" data-toggle="validator" data-focus="false"
          role="form">
        {% csrf_token %}
        <div class="form__group form-group has-feedback">
            <label class="form__label">Назва компанії</label>
            <input class="form__input form-control" type="text" name="inputCompany" placeholder="" autocomplete="off"
                   data-error="Поле обязательное для заполнения" maxlength="40" required>
            <label class="form__help help-block with-errors"></label>
        </div>
        <div class="form__group form-group has-feedback">
            <label class="form__label">Контактна особа</label>
            <input class="form__input form-control" type="text" name="inputName" placeholder="" autocomplete="off"
                   data-error="Поле обязательное для заполнения" maxlength="40" required>
            <label class="form__help help-block with-errors"></label>
        </div>
        <div class="form__group form-group has-feedback">
            <label class="form__label">Номер телефону</label>
            <input class="form__input phone-mask form-control" type="text" name="inputPhone" id="inputPhonePartner"
                   placeholder=""
                   data-minlength="19"
                   autocomplete="off"
                   data-error="Введите правильный номер" required>
            <label class="form__help help-block with-errors"></label>
        </div>
        <div class="form__button-group">
            <button type='submit' class="button form__button">Надіслати</button>
        </div>
    </form>
</div>

<div class="popup popup--contact" id="contact-popup">
    <h2 class="popup__title_contact">Контактна інформація:</h2>
    <form class="form popup__form" data-toggle="validator" data-focus="false" role="form">
        {% csrf_token %}
        <div class="form_info">ТОВ «МУЛЬТИ ОІЛ»</div>
        <div class="form_number">ЄДРПОУ 43710549</div>
        <div class="popup_border"></div>
        <div class="form_flex">
            <img src="{% static 'img/mask.png' %}" alt="mask">
            <div class="contact_info">Україна, 04053, м. Київ, вул. Січових стрільців, будинок 21, приміщення 501-Б
            </div>
        </div>
        <div class="form_flex">
            <img src="{% static 'img/mail.png' %}" alt="mail">
            <div class="contact_info">
                <a href="mailto:info@multioil.com.ua">info@multioil.com.ua</a>
            </div>
        </div>
        <div class="form_flex">
            <img src="{% static 'img/phone.png' %}" alt="phone">
            <div class="contact_info">
                <a href="tel:0800354958" class="popup_phone">0 800 354 958</a>
            </div>
        </div>
        <div class="form_flex">
            <svg class="social__icon__contact">
                <use xlink:href="#viber"></use>
            </svg>
            <div class="contact_info">
                <a href="viber://chat?number=%2B380631018197" class="popup_phone">Viber</a>
            </div>
        </div>
        <div class="form_flex">
            <svg class="social__icon__contact">
                <use xlink:href="#telegram"></use>
            </svg>
            <div class="contact_info">
                <a href="https://t.me/multioil" class="popup_phone">Telegram</a>
            </div>
        </div>
        <div class="form__button-group-contact">
            <button class="button popup__close" type="button">Закрити</button>
        </div>
    </form>
</div>

<div class="popup popup--waiting" id="waiting-popup">
    <h2 class="popup__title_waiting">Реліз додатку запланований на 27 березня</h2>
    <h3 class="popup__title_waiting">Для того щоб не пропустити реліз залиште свій номер телефону</h3>
    <form class="form phone-form form_waiting" name="form_phone_input" data-toggle="validator" data-focus="false"
          role="form">
        {% csrf_token %}
        <div class="form__group phone-form__group form-group has-feedback ">
            <input class="form__input phone-form__input_waiting phone-mask" type="text" name="inputPhone"
                   placeholder="+38 (000) 00 00 000" autocomplete="off" data-error="Поле обязательное для заполнения"
                   data-minlength="19"
                   required>
            <label class="form__help help-block with-errors"></label>
            <button type='submit' class="button button-waiting">Відправити посилання</button>
        </div>
        <div class="form__button-group-contact">
            <button class="popup__close button-close-waiting" type="button">Закрити</button>
        </div>
    </form>
</div>

<div class="popup popup--return" id="return-popup">
    <h2 class="popup__title_contact popup__title_return">Повернення та
        обмін</h2>
    <form class="form popup__form" data-toggle="validator" data-focus="false" role="form">
        {% csrf_token %}
        <div class="form-return_text">Згідно із Законом України «Про захист прав споживачів» покупець має право обміняти
            товар на аналогічний протягом 14 днів, якщо куплений товар не підійшов за формою, габаритами, фасоном,
            кольором, розміром або з інших причин, і якщо збережено товарний вигляд, ярлики і розрахунковий документ,
            виданий продавцем разом із товаром. Виняток становлять товари, які не підлягають поверненню за Законом, їх
            перелік ви можете переглянути за
            <a class="return_link" href="javascript:;" data-fancybox
               data-src="#return-form-popup">
                посиланням.</a></div>
        <div class="form__button-group-contact-return">
            <button class="button popup__close" type="button">Закрыть</button>
        </div>
    </form>
</div>

<div class="popup popup-return-form" id="return-form-popup">
    <h2 class="popup__title popup__title_return">Повернення коштів</h2>
    <form class="form popup__form" name="form_return_input" data-toggle="validator" data-focus="false" role="form">
        {% csrf_token %}
        <div class="form__group form-group has-feedback">
            <label class="form__label">Прізвище Імя Побатькові</label>
            <input class="form__input form-control" type="text" name="inputCompany" placeholder="" autocomplete="off"
                   data-error="Поле обязательное для заполнения" required>
            <label class="form__help help-block with-errors"></label>
        </div>
        <h3 class="popup__title popup__title_return">Паспортні дані</h3>
        <div class="form__group form-group has-feedback">
            <label class="form__label">(Серія та/або номер)</label>
            <input class="form__input form-control" type="text"
                   name="inputSeries"
                   placeholder="" autocomplete="off" data-error="Поле обязательное для заполнения" required>
            <label class="form__help help-block with-errors"></label>
        </div>
        <div class="form__group form-group has-feedback">
            <label class="form__label">Дата видачі</label>
            <input class="form__input form-control" type="text" name="dataD" placeholder="" autocomplete="off"
                   data-error="Поле обязательное для заполнения" required>
            <label class="form__help help-block with-errors"></label>
        </div>
        <div class="form__group form-group has-feedback padding-form">
            <label class="form__label">Ким видано</label>
            <input class="form__input form-control" type="text" name="issuedBy" placeholder="" autocomplete="off"
                   data-error="Поле обязательное для заполнения" required>
            <label class="form__help help-block with-errors"></label>
        </div>
        <div class="form__group form-group has-feedback">
            <label class="form__label">ID транзакції</label>
            <input class="form__input form-control" type="text" name="idTranz" placeholder="" autocomplete="off"
                   data-error="Поле обязательное для заполнения" required>
            <label class="form__help help-block with-errors"></label>
        </div>
        <div class="form__group form-group has-feedback">
            <label class="form__label">Сума до повернення</label>
            <input class="form__input form-control" type="text" name="BeforeTurning" placeholder="" autocomplete="off"
                   data-error="Поле обязательное для заполнения" required>
            <label class="form__help help-block with-errors"></label>
        </div>
        <div class="form__group form-group has-feedback">
            <label class="form__label">Номер телефона</label>
            <input class="form__input phone-mask form-control" type="text"
                   name="inputPhone" placeholder="+380" autocomplete="off"

                   data-error="Поле обязательное для заполнения" required>
            <label class="form__help help-block with-errors"></label>
        </div>
        <div class="form__group form-group has-feedback">
            <label class="form__label">Email</label>
            <input class="form__input form-control" type="email" name="inputEmail" placeholder="" autocomplete="off"
                   data-error="Поле обязательное для заполнения" required>
            <label class="form__help help-block with-errors"></label>
        </div>
        <div class="form__group form-group has-feedback">
            <label class="form__label">Причина повернення</label>
            <textarea class="form__input form-control" name="textarea" rows="8" placeholder="" autocomplete="off"
                      data-error="Поле обязательное для заполнения" required></textarea>
            <label class="form__help help-block with-errors"></label>
        </div>
        <div class="form__button-group">
            <button type='submit' class="button form__button">Відправити запит</button>
        </div>
    </form>
</div>

<div class="popup popup--success" id="success-popup">
    <h2 class="popup__title">Повідомлення надіслано</h2>
    <p class="popup__descr">Найближчим часом Ви отримаєте посилання на скачування додатку</p>
</div>

<div class="popup popup--success" id="success-popup-partner">
    <h2 class="popup__title">Дякуємо, що заповнили анкету!</h2>
    <p class="popup__descr">Найближчим часом наш менеджер зв’яжеться з Вами</p>
</div>

<div class="popup popup--price" id="price-stels-popup">
    <h2 class="popup__title">Ціна на пальне АЗС "STELS"</h2>
    <div class="price-table">
        <div class="price-table__header">
            <div class="row align-items-end">
                <div class="col-3">
                    <div class="price-table__title">Вид пального</div>
                </div>
                <div class="col-3">
                    <div class="price-table__title">Ціна на АЗС</div>
                </div>
                <div class="col-3">
                    <div class="price-table__title">Ціна MultiOil</div>
                </div>
                <div class="col-3">
                    <div class="price-table__title">Кешбек від MultiOil</div>
                </div>
            </div>
        </div>

        {% for azs in stels %}
            <div class="price-table__row">
                <div class="row align-items-center">
                    <div class="col-3 price-table__col">{{ azs.fuelName }}</div>
                    <div class="col-3 price-table__col">{{ azs.price }}</div>
                    <div class="col-3 price-table__col">{{ azs.systemPrice }}</div>
                    <div class="col-3 price-table__col">{{ azs.cashback }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
    <button class="button popup__close" type="button">Закрити</button>
</div>

<div class="popup popup--price" id="price-ppoil-popup">
    <h2 class="popup__title">Ціна на пальне АЗС "PP oil"</h2>
    <div class="price-table">
        <div class="price-table__header">
            <div class="row align-items-end">
                <div class="col-3">
                    <div class="price-table__title">Вид пального</div>
                </div>
                <div class="col-3">
                    <div class="price-table__title">Ціна на АЗС</div>
                </div>
                <div class="col-3">
                    <div class="price-table__title">Ціна MultiOil</div>
                </div>
                <div class="col-3">
                    <div class="price-table__title">Кешбек від MultiOil</div>
                </div>
            </div>
        </div>

        {% for azs in pp_oil %}
            <div class="price-table__row">
                <div class="row align-items-center">
                    <div class="col-3 price-table__col">{{ azs.fuelName }}</div>
                    <div class="col-3 price-table__col">{{ azs.price }}</div>
                    <div class="col-3 price-table__col">{{ azs.systemPrice }}</div>
                    <div class="col-3 price-table__col">{{ azs.cashback }}</div>
                </div>
            </div>
        {% endfor %}

    </div>
    <button class="button popup__close" type="button">Закрити</button>
</div>
    <!-- JS -->
<!-- build:js js/all.min.js -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/SmoothScroll.js' %}"></script>
    <script src="{% static 'js/jquery.mask.min.js' %}"></script>
    <script src="{% static 'js/swiper.min.js' %}"></script>
    <script src="{% static 'js/validator.min.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <!-- endbuild -->
    <div style="display:none;">

    {% include "sprite.svg" %}

    </div>
  </body>
</html>